{% comment %}
  Custom promo banner snippet by RM
{% endcomment %}

<li
  class="promo-banner grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
    style="--animation-order: {{ block.settings.banner_position }};"
  {% endif %}
>
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if block.settings.image %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if block.settings.image == nil and settings.card_style == 'card' %} ratio{% endif %}
      "
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if block.settings.image or settings.card_style == 'standard' %} ratio{% endif %}"
      >
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              srcset="
                {%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if block.settings.image.width >= 533 -%}{{ block.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if block.settings.image.width >= 720 -%}{{ block.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if block.settings.image.width >= 940 -%}{{ block.settings.image | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if block.settings.image.width >= 1066 -%}{{ block.settings.image | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ block.settings.image | image_url }} {{ block.settings.image.width }}w
              "
              src="{{ block.settings.image | image_url: width: 533 }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ block.settings.image.alt | escape }}"
              class="motion-reduce"
              {% unless lazy_load == false %}
                loading="lazy"
              {% endunless %}
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
            >
          </div>
        </div>
        <div class="overlay_area">
          {% if block.settings.top_label != blank %}
            <div class="card__badge">
              <span
                class="badge badge--top-left color-{{ settings.sale_badge_color_scheme }}"
              >
                {{- block.settings.top_label -}}
              </span>
            </div>
          {% endif %}
          {% if block.settings.discount_label != blank %}
            <div class="discount_label">
              <span class="custom_label h2">
                {{ block.settings.discount_label }}
              </span>
            </div>
          {% endif %}
          {% if block.settings.main_title != blank %}
            <div class="main_title h2">
              {{ block.settings.main_title }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <div class="card-information">
            <h3
              class="card__heading body-default"
            >
              <a
                href="{{ block.settings.banner_link }}"
                class="full-unstyled-link"
              >
                {{ block.settings.subtitle }}
              </a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
