{{ 'next_sizechart.css' | asset_url | stylesheet_tag }}

{% liquid
  assign current_language = request.locale.iso_code

  case current_language
    when 'it'
      assign chart_title = 'Guida alle taglie'
      assign link_chart_txt = 'Vai a tutte le guide taglie'
      assign link_chart_prefix = '/it'
      assign cm = 'cm'
      assign pollici = 'pollici'
      assign altezza_pollici = 'Altezza (pollici)'
      assign busto_pollici = 'Busto (pollici)'
      assign vita_pollici = 'Vita (pollici)'
      assign fianchi_pollici = 'Fianchi (pollici)'
      assign altezza_cm = 'Altezza (cm)'
      assign busto_cm = 'Busto (cm)'
      assign vita_cm = 'Vita (cm)'
      assign fianchi_cm = 'Fianchi (cm)'

    when 'en'
      assign chart_title = 'Size guide'
      assign link_chart_txt = 'Go to all size guides'
      assign link_chart_prefix = ''
      assign cm = 'cm'
      assign pollici = 'inches'
      assign altezza_pollici = 'Height (inches)'
      assign busto_pollici = 'Bust (inches)'
      assign vita_pollici = 'Waist (inches)'
      assign fianchi_pollici = 'Hips (inches)'
      assign altezza_cm = 'Height (cm)'
      assign busto_cm = 'Bust (cm)'
      assign vita_cm = 'Waist (cm)'
      assign fianchi_cm = 'Hips (cm)'

    when 'fr'
      assign chart_title = 'Guide des tailles'
      assign link_chart_txt = 'Accédez à tous les guides de tailles'
      assign link_chart_prefix = '/fr'
      assign cm = 'cm'
      assign pollici = 'pouces'
      assign altezza_pollici = 'Taille (pouces)'
      assign busto_pollici = 'Poitrine (pouces)'
      assign vita_pollici = 'Taille (pouces)'
      assign fianchi_pollici = 'Hanches (pouces)'
      assign altezza_cm = 'Taille (cm)'
      assign busto_cm = 'Poitrine (cm)'
      assign vita_cm = 'Taille (cm)'
      assign fianchi_cm = 'Hanches (cm)'

    when 'es'
      assign chart_title = 'Guia de tallas'
      assign link_chart_txt = 'Ir a todas las guías de tallas'
      assign link_chart_prefix = '/es'
      assign cm = 'cm'
      assign pollici = 'pulgadas'
      assign altezza_pollici = 'Altura (pulgadas)'
      assign busto_pollici = 'Busto (pulgadas)'
      assign vita_pollici = 'Cintura (pulgadas)'
      assign fianchi_pollici = 'Caderas (pulgadas)'
      assign altezza_cm = 'Altura (cm)'
      assign busto_cm = 'Busto (cm)'
      assign vita_cm = 'Cintura (cm)'
      assign fianchi_cm = 'Caderas (cm)'

    when 'de'
      assign chart_title = 'Größentabelle'
      assign link_chart_txt = 'Gehen Sie zu allen Größentabellen'
      assign link_chart_prefix = '/de'
      assign cm = 'cm'
      assign pollici = 'Zoll'
      assign altezza_pollici = 'Höhe (Zoll)'
      assign busto_pollici = 'Brustumfang (Zoll)'
      assign vita_pollici = 'Taille (Zoll)'
      assign fianchi_pollici = 'Hüften (Zoll)'
      assign altezza_cm = 'Höhe (cm)'
      assign busto_cm = 'Brustumfang (cm)'
      assign vita_cm = 'Taille (cm)'
      assign fianchi_cm = 'Hüften (cm)'

    else
      assign chart_title = 'Size guide'
      assign link_chart_txt = 'Go to all size guides'
      assign link_chart_prefix = ''
      assign cm = 'cm'
      assign pollici = 'inches'
      assign altezza_pollici = 'Height (inches)'
      assign busto_pollici = 'Bust (inches)'
      assign vita_pollici = 'Waist (inches)'
      assign fianchi_pollici = 'Hips (inches)'
      assign altezza_cm = 'Height (cm)'
      assign busto_cm = 'Bust (cm)'
      assign vita_cm = 'Waist (cm)'
      assign fianchi_cm = 'Hips (cm)'
  endcase
%}

<div class="sizechart">
  <button class="close" type="button" title="Close" aria-label="Close">×</button>
  <div class="size-guide-modal">
    <div class="intestazione">
      <h2>{{ chart_title }}</h2>
      <div class="toggle-checkbox ">
        <span>{{ cm }}</span>
        <input type="checkbox" id="switch"><label for="switch">Toggle</label>
        <span>{{ pollici }}</span>
      </div>
    </div>
    <div class="table_box drag-scroll">
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>XXS</th>
            <th>XS</th>
            <th>S</th>
            <th>M</th>
            <th>L</th>
            <th>XL</th>
            <th>XXL</th>
            <th>3XL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>IT, EUR</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
            <td>48</td>
            <td>50</td>
            <td>-</td>
          </tr>
          <tr>
            <td>UK</td>
            <td>34</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
            <td>46</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="inches" class="hidden">
            <td>{{ altezza_pollici }}</td>
            <td>61,4"-63, 1½"</td>
            <td>63,1"-64, 6½"</td>
            <td>64,6;"-66, 1"</td>
            <td>66,1"-67, 7½"</td>
            <td>67,7½"-69, 3½"</td>
            <td>69,3½"-70, 9"</td>
            <td>69,3½"-70, 9"</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="inches" class="hidden">
            <td>{{ busto_pollici }}</td>
            <td>31,5"-33, 1½"</td>
            <td>33,1"-34, 6½"</td>
            <td>34,6;"-36,2"</td>
            <td>36,2"-37, 8½"</td>
            <td>37,8½"-39, 4½"</td>
            <td>39,4½"-41, 9"</td>
            <td>41,9"-42, 5½"</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="inches" class="hidden">
            <td>{{ vita_pollici }}</td>
            <td>23,6½"-25, 2"</td>
            <td>25,2½"-26, 8"</td>
            <td>26,8"-28, 3½"</td>
            <td>28,3½"-29, 9"</td>
            <td>29,9"-31, 5½"</td>
            <td>31,5½"-33, 1"</td>
            <td>33,1"-34, 6½"</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="inches" class="hidden">
            <td>{{ fianchi_pollici }}</td>
            <td>33,9½"-35, 4"</td>
            <td>35,4"-37½"</td>
            <td>37½"-38, 6"</td>
            <td>38,6"-40, 2½"</td>
            <td>40,2½"-41, 7"</td>
            <td>41,7½"-43, 3"</td>
            <td>43,3"-44, 9"</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="cm">
            <td>{{ altezza_cm }}</td>
            <td>156-160</td>
            <td>160-164</td>
            <td>164-168</td>
            <td>168-172</td>
            <td>172-176</td>
            <td>176-180</td>
            <td>176-180</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="cm">
            <td>{{ busto_cm }}</td>
            <td>80-84</td>
            <td>84-88</td>
            <td>88-92</td>
            <td>92-96</td>
            <td>96-100</td>
            <td>100-104</td>
            <td>104-108</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="cm">
            <td>{{ vita_cm }}</td>
            <td>60-64</td>
            <td>64-68</td>
            <td>68-72</td>
            <td>72-76</td>
            <td>76-80</td>
            <td>80-84</td>
            <td>84-88</td>
            <td>-</td>
          </tr>
          <tr data-zg-role="cm">
            <td>{{ fianchi_cm }}</td>
            <td>86-90</td>
            <td>90-94</td>
            <td>94-98</td>
            <td>98-102</td>
            <td>102-106</td>
            <td>106-110</td>
            <td>110-114</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="sizeguide-link">
      <a class="etichetta" target="_blank" href="{{ link_chart_prefix }}/pages/size-guide">
        {{ link_chart_txt }}
      </a>
    </div>
  </div>
</div>
