{%- style -%}

{%- endstyle -%}

<section id="section_certificazioni" class="page-width" style="margin-top:10px; margin-bottom:10px; position:relative">
  <div class="about_wrapper_certificazioni">
    
      <div class="box a">
          <h3 style="text-align: center;color:var(--color-blu)">{{ section.settings.about_certificazioni_titolo }}</h3>
      </div>
    
      <div class="box b">
            <div class="about_wrapper_certificazioni_nested">  
                <div class="box a" style="min-width:90px">
                    <img src="{{ section.settings.about_img_certificazioni01 | image_url }}" style="width:auto; height:auto">
                </div>
              
                <div class="box b">  
                    <p style="font-size:10px; color:var(--color-blu)">{{ section.settings.about_certificazioni_testo01_riga01 }}</p>
                    <p style="font-size:10px; color:var(--color-blu)">{{ section.settings.about_certificazioni_testo01_riga02 }}</p>
                </div>
              
                <div class="box c" style="width:65px">
                    <a href="{{ section.settings.about_certificazioni_url01 }}" target='_blank'><img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/download-02.png?v=1709737771" width="27px" height="auto"></a>
                </div>
            </div>
      </div>
    
      <div class="box c">
            <div class="about_wrapper_certificazioni_nested">  
                <div class="box a" style="min-width:90px">
                    <img src="{{ section.settings.about_img_certificazioni02 | image_url }}" style="width:auto; height:auto">
                </div>
              
                <div class="box b">  
                    <p style="font-size:10px; color:var(--color-blu)">{{ section.settings.about_certificazioni_testo02_riga01 }}</p>
                    <p style="font-size:10px; color:var(--color-blu)">{{ section.settings.about_certificazioni_testo02_riga02 }}</p>
                </div>
              
                <div class="box c" style="width:65px">
                    <a href="{{ section.settings.about_certificazioni_url02 }}" target='_blank'><img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/download-02.png?v=1709737771" width="27px" height="auto"></a>
                </div>
            </div>
      </div>
  </div>
</section>

{% schema %}
{
  "name": "About us certificazioni",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "about_img_certificazioni01",
      "label": "about_img_certificazioni01"
    },
    {
      "type": "image_picker",
      "id": "about_img_certificazioni02",
      "label": "about_img_certificazioni02"
    },
    {
      "type": "text",
      "id": "about_certificazioni_titolo",
      "label": "about_certificazioni_titolo",
      "default": "ISO CERTIFICATION"
    },
    {
      "type": "text",
      "id": "about_certificazioni_testo01_riga01",
      "label": "about_certificazioni_testo01_riga01",
      "default": "CERTIFICATE N. 42203/21/S"
    },
    {
      "type": "text",
      "id": "about_certificazioni_testo01_riga02",
      "label": "about_certificazioni_testo01_riga02",
      "default": "ISO 9001:2015"
    },
    {
      "type": "text",
      "id": "about_certificazioni_testo02_riga01",
      "label": "about_certificazioni_testo02_riga01",
      "default": "CERTIFICATE N. EMS-8871/S"
    },
    {
      "type": "text",
      "id": "about_certificazioni_testo02_riga02",
      "label": "about_certificazioni_testo02_riga02",
      "default": "ISO 14001:2015"
    },
    {
      "type": "text",
      "id": "about_certificazioni_url01",
      "label": "about_certificazioni_url01",
      "default": "https://www.youtube.com"
    },
    {
      "type": "text",
      "id": "about_certificazioni_url02",
      "label": "about_certificazioni_url02",
      "default": "https://www.youtube.com"
    }
  ],
  "presets": [
    {
      "name": "About us certificazioni",
      "category": "Custom"
    }
  ]
}
{% endschema %}
