{%- style -%}
{%- endstyle -%}

<section id="section_our_commitment" class="page-width">
  <div class="about_wrapper_our_commitment first_el">
    <div class="box a" style="margin-top: 0;">
      <h2 style="color: var(--color-blu); font-weight: var(--font-bold)">{{ section.settings.about_comm_titolo }}</h2>
    </div>

    <div class="box b">
      <h3>{{ section.settings.about_comm_sottotitolo }}</h3>

      <p>{{ section.settings.about_comm_testo }}</p>

      <div class="about_wrapper_our_commitment_figure ">
        <div class="box a" style="margin-top: 0;">
          <img src="{{ section.settings.about_comm_f1 | image_url }}" width="100%" height="auto">
          <br>
          <p>{{ section.settings.about_comm_testo_f1 }}</p>
        </div>
        <div class="box b" style="margin-top: 0;">
          <img src="{{ section.settings.about_comm_f2 | image_url }}" width="100%" height="auto">
          <br>
          <p>{{ section.settings.about_comm_testo_f2 }}</p>
        </div>
        <div class="box c" style="margin-top: 0;">
          <img src="{{ section.settings.about_comm_f3 | image_url }}" width="100%" height="auto">
          <br>
          <p>{{ section.settings.about_comm_testo_f3 }}</p>
        </div>
      </div>
    </div>
  </div>

  <hr style="margin: 3rem 0;">

  <div class="about_wrapper_our_commitment" id="stop_sticky">
    <div class="box a" style="margin-top: 0;">
      {% if section.settings.about_comm_nota_r1 %}
      <h3 class="recycled voce_toggle active" data-toggle="r1">
        {% render 'icon_slash_verde' %}
        {{ section.settings.about_comm_nota_r1 }}
      </h3>
      {% endif %}
      {% if section.settings.about_comm_nota_r2 %}
      <br>
      <h3 class="organic voce_toggle" data-toggle="r2">
        {% render 'icon_slash_verde' %}
        {{ section.settings.about_comm_nota_r2 }}
      </h3>
      {% endif %}
      {% if section.settings.about_comm_nota_r3 %}
      <br>
      <h3 class="better_cotton voce_toggle" data-toggle="r3">
        {% render 'icon_slash_verde' %}
        {{ section.settings.about_comm_nota_r3 }}
      </h3>
      {% endif %}
      {% if section.settings.about_comm_nota_r4 %}
      <br>
      <h3 class="bioFleece voce_toggle" data-toggle="r4">
        {% render 'icon_slash_verde' %}
        {{ section.settings.about_comm_nota_r4 }}
      </h3>
      {% endif %}

    </div>

    <div class="box b box_toggle recycled active" data-toggle="r1" style="margin-top: 0;">
      {% if section.settings.about_comm_img_fabrics_r1 %}
      <img
        style="float:left;"
        src="{{ section.settings.about_comm_img_fabrics_r1 | image_url }}"
        width="50px"
        height="auto"
      >
      {% endif %}
      <h3 style="margin-top: 1px;width: 355px;{% if section.settings.about_comm_img_fabrics_r1 %}padding-left: 68px;{% endif %}">
        {{ section.settings.about_comm_titolo_fabrics_r1 }}
      </h3>
      <br>
      <div style="clear:both">{{ section.settings.about_comm_testo_fabrics_r1 }}</div>
    </div>
    <div class="box b box_toggle better_cotton" data-toggle="r2" style="margin-top: 0;">
      {% if section.settings.about_comm_img_fabrics_r2 %}
        <img
          style="float:left;"
          src="{{ section.settings.about_comm_img_fabrics_r2 | image_url }}"
          width="50px"
          height="auto"
        >
        {% endif %}
      <h3 style="margin-top: 1px;width: 355px;{% if section.settings.about_comm_img_fabrics_r2 %}padding-left: 68px;{% endif %}">
        {{ section.settings.about_comm_titolo_fabrics_r2 }}
      </h3>
      <br>
      <div style="clear:both">{{ section.settings.about_comm_testo_fabrics_r2 }}</div>
    </div>
    <div class="box b box_toggle organic" data-toggle="r3" style="margin-top: 0;">
      {% if section.settings.about_comm_img_fabrics_r3 %}
        <img
          style="float:left;"
          src="{{ section.settings.about_comm_img_fabrics_r3 | image_url }}"
          width="50px"
          height="auto"
        >
        {% endif %}
      <h3 style="margin-top: 1px;width: 355px;{% if section.settings.about_comm_img_fabrics_r3 %}padding-left: 68px;{% endif %}">
        {{ section.settings.about_comm_titolo_fabrics_r3 }}
      </h3>
      <br>
      <div style="clear:both">{{ section.settings.about_comm_testo_fabrics_r3 }}</div>
    </div>
    <div class="box b box_toggle bioFleece" data-toggle="r4" style="margin-top: 0;">
      {% if section.settings.about_comm_img_fabrics_r4 %}
        <img
          style="float:left;"
          src="{{ section.settings.about_comm_img_fabrics_r4 | image_url }}"
          width="50px"
          height="auto"
        >
        {% endif %}
      <h3 style="margin-top: 1px;width: 355px;{% if section.settings.about_comm_img_fabrics_r4 %}padding-left: 68px;{% endif %}">
        {{ section.settings.about_comm_titolo_fabrics_r4 }}
      </h3>
      <br>
      <div style="clear:both">{{ section.settings.about_comm_testo_fabrics_r4 }}</div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About toggle element",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "about_comm_titolo",
      "label": "about_comm_titolo",
      "default": "Our Commitment"
    },
    {
      "type": "text",
      "id": "about_comm_sottotitolo",
      "label": "about_comm_sottotitolo",
      "default": "Respect for the environment is based on our origins as seafarers and our culture of protection of the marine environment. This is why our commitment to sustainable production is serious, tangible and constant."
    },
    {
      "type": "text",
      "id": "about_comm_testo",
      "label": "about_comm_testo",
      "default": "Many of the fabrics used to manufacture our outerwear contain polyester and nylon, products with fibers obtained from recycling plastic bottles, fishing nets, and industrial waste. Over 40% of our articles have at least one sustainable component. The virtuous circle starts within the company itself, in a conscious way, with concrete choices and use of good practices. By deciding to bring back a part of the manufacture of top-of-the-range products to Europe and a part to Italy, we have performed a manufacturing reshoring process that has a major impact on sustainability from an economic, environmental and social standpoint. We are, in fact, bringing the origin of the articles closer to the consumers who will wear them. We have decided to eliminate garment dying and thus have considerably reduced water consumption and pollution. Our dyeing plants operate in full compliance with the highest standards, with use of certified dyes and the best management of waste water."
    },
    {
      "type": "image_picker",
      "id": "about_comm_f1",
      "label": "about_comm_f1"
    },
    {
      "type": "image_picker",
      "id": "about_comm_f2",
      "label": "about_comm_f2"
    },
    {
      "type": "image_picker",
      "id": "about_comm_f3",
      "label": "about_comm_f3"
    },
    {
      "type": "text",
      "id": "about_comm_testo_f1",
      "label": "about_comm_testo_f1",
      "default": "of our garments are made from organic cottor or are developed according to responsible water-saving"
    },
    {
      "type": "text",
      "id": "about_comm_testo_f2",
      "label": "about_comm_testo_f2",
      "default": "of our items use recycled polyester."
    },
    {
      "type": "text",
      "id": "about_comm_testo_f3",
      "label": "about_comm_testo_f3",
      "default": "of the items/coloursin the FW2024 collection are made from recycled or organic materials"
    },
    {
      "type": "text",
      "id": "about_comm_nota_r1",
      "label": "about_comm_nota_r1",
      "default": "Recycled"
    },
    {
      "type": "text",
      "id": "about_comm_nota_r2",
      "label": "about_comm_nota_r2",
      "default": "Organic cotton"
    },
    {
      "type": "text",
      "id": "about_comm_nota_r3",
      "label": "about_comm_nota_r3",
      "default": "Better Cotton Initaitive (BCI)"
    },
    {
      "type": "text",
      "id": "about_comm_nota_r4",
      "label": "about_comm_nota_r4",
      "default": "BioFlees"
    },
    {
      "type": "image_picker",
      "id": "about_comm_img_fabrics_r1",
      "label": "about_comm_img_fabrics_r1"
    },
    {
      "type": "text",
      "id": "about_comm_titolo_fabrics_r1",
      "label": "about_comm_nota_r1_r1",
      "default": "Fabrics from recycled raw materials"
    },
    {
      "type": "richtext",
      "id": "about_comm_testo_fabrics_r1",
      "label": "about_comm_nota_r1_r1"
    },
    {
      "type": "image_picker",
      "id": "about_comm_img_fabrics_r2",
      "label": "about_comm_img_fabrics_r2"
    },
    {
      "type": "text",
      "id": "about_comm_titolo_fabrics_r2",
      "label": "about_comm_nota_r1_r2",
      "default": "Fabrics from recycled raw materials"
    },
    {
      "type": "richtext",
      "id": "about_comm_testo_fabrics_r2",
      "label": "about_comm_nota_r1_r2"
    },
    {
      "type": "image_picker",
      "id": "about_comm_img_fabrics_r3",
      "label": "about_comm_img_fabrics_r3"
    },
    {
      "type": "text",
      "id": "about_comm_titolo_fabrics_r3",
      "label": "about_comm_nota_r1_r3",
      "default": "Fabrics from recycled raw materials"
    },
    {
      "type": "richtext",
      "id": "about_comm_testo_fabrics_r3",
      "label": "about_comm_nota_r1_r3"
    },
    {
      "type": "image_picker",
      "id": "about_comm_img_fabrics_r4",
      "label": "about_comm_img_fabrics_r4"
    },
    {
      "type": "text",
      "id": "about_comm_titolo_fabrics_r4",
      "label": "about_comm_nota_r1_r4",
      "default": "Fabrics from recycled raw materials"
    },
    {
      "type": "richtext",
      "id": "about_comm_testo_fabrics_r4",
      "label": "about_comm_nota_r1_r4"
    }
  ],
  "presets": [
    {
      "name": "About toggle element",
      "category": "Custom"
    }
  ]
}
{% endschema %}
