{{ 'next_art_text-section.css' | asset_url | stylesheet_tag }}

<div class="custom-container text-section-container {% if section.settings.hideLines == true %}hideLines{% endif %}">
  {% for block in section.blocks %}
    <div class="single-paragraph{% if section.settings.columns == '2' and block.settings.title != blank %} two-col{% else %} one-col{% endif %}">
      {% if block.settings.green_label != blank %}
        <div class="green-text label">{{ block.settings.green_label }}</div>
      {% endif %}
      {% if block.settings.white_label != blank %}
        <div class="label">{{ block.settings.white_label }}</div>
      {% endif %}
      {% if block.settings.title != blank %}
        <h3 class="paragraph-title {{ block.settings.variant_color }}-color {% if block.settings.h2_text == true %}h2{% endif %}">
          {{ block.settings.title }}
        </h3>
      {% endif %}
      {% if block.settings.content != blank %}
        {% assign words = block.settings.content | strip_html | split: ' ' | size %}
        <div class="paragraph-content">
          {% if words > 100 and block.settings.truncate_text == true %}
            <div
              id="preview_content_{{ block.id }}"
              class="content"
            >
              {{ block.settings.content | slice: 0, 500 -}}
              ...
            </div>
            <div id="full_content_{{ block.id }}" class="full content" style="display: none;">
              {{ block.settings.content }}
            </div>
            <button id="btnId__{{ block.id }}" class="showFullContent">Read more</button>
          {% else %}
            <div class="content">{{ block.settings.content }}</div>
          {% endif %}
          {% if block.settings.button_text != blank and block.settings.button_url != blank %}
            <a
              class="paragrafo_btn twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta"
              href="{{ block.settings.button_url }}"
              {% if block.settings.is_new_tab == true %}
                target="_blank"
              {% endif %}
            >
              {{ block.settings.button_text }}
              {% render 'icon-arrow-link-custom' -%}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "ART - Sezione testuale",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "columns",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "label": "Colonne"
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    }
  ],
  "blocks": [
    {
      "type": "paragraph",
      "name": "Paragrafo",
      "settings": [
        {
          "type": "text",
          "id": "green_label",
          "label": "Etichetta verde"
        },
        {
          "type": "text",
          "id": "white_label",
          "label": "Etichetta bianca"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titolo (facoltativo)"
        },
        {
          "type": "checkbox",
          "id": "h2_text",
          "label": "Titolo più grande?"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Testo (facoltativo)"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Testo bottone"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Link bottone"
        },
        {
          "type": "checkbox",
          "id": "is_new_tab",
          "label": "Apri in una nuova scheda?"
        },
        {
          "type": "select",
          "id": "variant_color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "green",
              "label": "Green"
            }
          ],
          "label": "Variante colore",
          "default": "default"
        },
        {
          "type": "checkbox",
          "id": "truncate_text",
          "label": "Taglia testo a 100 parole?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ART - Sezione testuale"
    }
  ]
}
{% endschema %}
