{{ 'next_art_accent-text-section.css' | asset_url | stylesheet_tag }}

<div class="accent-text-section-container section-{{ section.settings.variant_color }}-color">
  <div class="custom-container content-area">
    {% if section.settings.title != blank %}
      <h2 class="paragraph-title h1 italic {{ section.settings.variant_color }}-color">
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <h3 class="paragraph-subtitle h2 {{ section.settings.variant_color }}-color">
        {{ section.settings.subtitle }}
      </h3>
    {% endif %}
    {% if section.settings.content != blank %}
      <div class="paragraph-content">
        {{ section.settings.content }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "ART - Testo con sfondo",
  "tag": "section",
  "class": "section text-with-bg",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titolo"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Sottotitolo"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo"
    },
    {
      "type": "select",
      "id": "variant_color",
      "options": [
        {
          "value": "blue",
          "label": "Blu"
        },
        {
          "value": "grey",
          "label": "Grigio"
        }
      ],
      "label": "Colore sfondo",
      "default": "blue"
    }
  ],
  "presets": [
    {
      "name": "ART - Testo con sfondo"
    }
  ]
}
{% endschema %}
