{{ 'next_art_image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} .didascalia_box p,
  #shopify-section-{{ section.id }} .didascalia_box a,
  #shopify-section-{{ section.id }} .didascalia_box li,
  #shopify-section-{{ section.id }} .didascalia_box {
    font-size:12px !important;
    line-height: 1.4 !important;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} .didascalia_box p,
    #shopify-section-{{ section.id }} .didascalia_box a,
    #shopify-section-{{ section.id }} .didascalia_box li,
    #shopify-section-{{ section.id }} .didascalia_box {
      font-size:10px !important;
    }
  }
  {% if section.settings.block_objfit %} 
    #shopify-section-{{ section.id }} .banner-container .media-container {
      aspect-ratio: unset;
    }
  {% endif %}
{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  class="banner-container{% if section.settings.is_full_width == false %} page-width{% endif %}{% if section.settings.video_or_img == 'video' %} banner-video{% else %} banner-img{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if section.settings.hideLines == true %}hideLines{% endif %}"
>
  <div class="media-container">
    {% if section.settings.video_or_img == 'video' %}
      <iframe
        id="video_iframe_{{ section.id }}"
        width="100%"
        height="{{ section.settings.banner_height }}"
        src="https://www.youtube.com/embed/{{ section.settings.video_id }}?autoplay=1&mute=0&origin=https://slam.com"
        frameborder="0"
        allow="autoplay; encrypted-media;"
        allowfullscreen
      ></iframe>
    {% elsif section.settings.video_or_img == 'img' %}

      {% if section.settings.block_objfit %} 
        {% assign objfit_value = 'object-fit:contain' %}
      {% else %}
        {% assign objfit_value = 'object-fit:cover' %}
      {% endif %}

      {%- if section.settings.image != blank -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag: width: section.settings.image.width, height: section.settings.image.height, style: objfit_value
        }}
      {%- endif -%}
    {% endif %}
    {% if section.settings.overlay_text != blank and section.settings.video_or_img == 'img' %}
      <div class="overlay-area">
        <h3 class="h1 italic overlay-text">
          {{ section.settings.overlay_text }}
        </h3>
      </div>
    {% endif %}
    {% if section.settings.preview_img != blank and section.settings.video_or_img == 'video' %}
      <div id="preview_image_{{ section.id }}" class="overlay-img">
        {{
          section.settings.preview_img
          | image_url: width: 3840
          | image_tag: width: section.settings.preview_img.width, height: section.settings.preview_img.height
        }}
      </div>
      <div id="play_btn__{{ section.id }}" class="play_button">
        {% render 'icon-play-btn' %}
      </div>
    {% endif %}
  </div>
  {% if section.settings.caption != blank %}
    <div class="caption_container {% if section.settings.is_full_width == true %} page-width{% endif %}">
      <div class="label-medium didascalia_box">{{ section.settings.caption}}</div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "ART - Banner video/img",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "video_or_img",
      "options": [
        {
          "value": "img",
          "label": "Immagine"
        },
        {
          "value": "video",
          "label": "Video"
        }
      ],
      "label": "Immagine o video?"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "text",
      "id": "video_id",
      "label": "Video ID (youtube)"
    },
    {
      "type": "image_picker",
      "id": "preview_img",
      "label": "Immagine di preview video"
    },
    {
      "type": "checkbox",
      "id": "is_full_width",
      "default": true,
      "label": "Sezione a larghezza piena?"
    },
    {
      "type": "text",
      "id": "overlay_text",
      "label": "Testo sopra immagine (facoltativo)",
      "info": "Viene mostrato solo sulle immagini (non si attiva su video)"
    },
    {
      "type": "richtext",
      "id": "caption",
      "label": "Didascalia"
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    },
    {
      "type": "checkbox",
      "id": "block_objfit",
      "label": "Immagine 'contain'?"
    } 
  ],
  "presets": [
    {
      "name": "ART - Banner video/img"
    }
  ]
}
{% endschema %}
