{{ 'next_art_bio-section.css' | asset_url | stylesheet_tag }}

<div class="bio-section-container">
  {{ 'bio-bg.png' | asset_url | img_tag: 'background' }}
  <div class="custom-container content-area">
    <div class="img-area">
      {% if section.settings.image != blank %}
        {{
          section.settings.image
          | image_url: width: 3200
          | image_tag: widths: '1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', class: 'image'
        }}
      {% endif %}
      {% if section.settings.title != blank %}
        <h3 class="paragraph-title h3">
          {{ section.settings.title }}
        </h3>
      {% endif %}
    </div>
    <div class="text-area">
      {% if section.settings.content != blank %}
        <div class="paragraph-content">
          {% assign content = section.settings.content | split: '<li>' %}
          {{
            content
            | join: "<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 12 9' fill='none'>
  <path d='M2.35352 0V2.52824H7.09684L0.5 8.97731L0.523183 9H2.91205C3.69039 9 4.44104 8.69778 4.99657 8.15407L8.92193 4.30938V8.9517H11.5V0H2.35352Z' fill='white'/>
</svg><li>"
          }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "ART - Sezione BIO",
  "tag": "section",
  "class": "section text-with-bg",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Testo sopra img"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo"
    }
  ],
  "presets": [
    {
      "name": "ART - Sezione BIO"
    }
  ]
}
{% endschema %}
