{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'next_blog_carousel.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign articles_to_display = section.settings.max_articles
  assign custom_tag = section.settings.tag
  assign show_mobile_slider = true
  assign show_desktop_slider = true
  assign ratio = 180
-%}

<div class="custom-blog-carousel color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="carousel_header title-wrapper title-wrapper--no-top-margin page-width">
    {%- if section.settings.subtitle != blank -%}
      <h3 class="carousel_subtitle{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.subtitle }}
      </h3>
    {%- endif -%}
    {%- if section.settings.title != blank -%}
      <h2 class="carousel_title{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.title }}
      </h2>
    {%- endif -%}
  </div>

  <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <ul
      id="Slider-{{ section.id }}"
      class="grid grid--4-col-desktop grid--2-col-tablet-down slider slider--desktop slider--tablet grid--peek"
      role="list"
      aria-label="{{ 'general.slider.name' | t }}"
    >
      {% assign articles_counter = 1 %}
      {%- for article in blogs['slam-stories'].articles -%}
        {% if articles_counter > articles_to_display %}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="article-card-wrapper card-wrapper underline-links-hover seemore_banner">
              <div
                class="
                  card article-card
                  card--{{ settings.blog_card_style }}
                  card--media
                "
                style="--ratio-percent: {{ ratio }}%;"
              >
                <div
                  class="card__inner {% if settings.blog_card_style == 'standard' %} color-{{ settings.blog_card_color_scheme }} gradient{% endif %} ratio"
                  style="--ratio-percent: {{ ratio }}%;"
                >

                  <div class="article-card__image-wrapper card__media">
                    <div
                      class="article-card__image media media--hover-effect"
                    >
                      {% render 'freccia_blog' %}
                    </div>
                  </div>

                  <div class="card__content">
                    <div class="card__information">
                      <h3 class="card__heading">
                        <a href="{{ blogs['slam-stories'].url | append: '/tagged/' | append: custom_tag }}">
                          <span class="h3 italic seemore_title_banner">{{ section.settings.seemore_title }}</span>
                          <div class="btn_area">
                            {{ section.settings.seemore_btn_text }}
                            {%- render 'icon-arrow-link-custom' -%}
                          </div>
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% break %}
        {% endif %}
        {% if article.tags contains custom_tag %}
          {% assign articles_counter = articles_counter | plus: 1 %}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {%- render 'article-card',
              article: article,
              media_aspect_ratio: article.image.aspect_ratio,
              show_image: true,
              is_carousel: true
            -%}
          </li>
        {% endif %}
      {%- endfor -%}
    </ul>
    {%- if show_mobile_slider or show_desktop_slider -%}
      <div class="slider-buttons no-js-hidden">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {%- render 'icon-arrow-link-custom' -%}
        </button>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
          aria-controls="Slider-{{ section.id }}"
        >
          {%- render 'icon-arrow-link-custom' -%}
        </button>
      </div>
    {%- endif -%}
  </slider-component>
</div>

{% schema %}
{
  "name": "Sezione Blog Carousel",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Titoletto",
      "default": "Stories"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo sezione",
      "default": "Titolo Stories"
    },
    {
      "type": "text",
      "id": "tag",
      "label": "Tag degli articoli da stampare",
      "info": "Specificare un solo tag (ad. es: interview)"
    },
    {
      "type": "number",
      "id": "max_articles",
      "label": "Numero massimo di articoli da mostrare"
    },
    {
      "type": "text",
      "id": "seemore_title",
      "label": "Titolo banner scopri più articoli"
    },
    {
      "type": "text",
      "id": "seemore_btn_text",
      "label": "Testo bottone scopri più articoli"
    }
  ],
  "presets": [
    {
      "name": "Sezione Blog Carousel",
      "category": "Custom"
    }
  ]
}
{% endschema %}
