{%- style -%}
  #shopify-section-{{ section.id }} {

  }
{%- endstyle -%}

{% liquid
  assign current_language = request.locale.iso_code

  case current_language
    when 'it'
      assign btn_donna = 'Donna'
      assign btn_uomo = 'Uomo'
      assign btn_bambino = 'Bambino'
      assign btn_accessori = 'Accessori'
    when 'en'
      assign btn_donna = 'Women'
      assign btn_uomo = 'Men'
      assign btn_bambino = 'Kids'
      assign btn_accessori = 'Accessories'
    when 'es'
      assign btn_donna = 'Mujer'
      assign btn_uomo = 'Hombre'
      assign btn_bambino = 'Niños'
      assign btn_accessori = 'Accesorios'
    when 'de'
      assign btn_donna = 'Frauen'
      assign btn_uomo = 'Männer'
      assign btn_bambino = 'Kinder'
      assign btn_accessori = 'Accessoires'
    else
      assign btn_donna = 'Women'
      assign btn_uomo = 'Men'
      assign btn_bambino = 'Kids'
      assign btn_accessori = 'Accessories'
  endcase
%}


<section id="guida_taglie_content" class="page-width">
  <div>
    <a class="bottone active" data-tab="donna">{{ btn_donna }}</a>
    <a class="bottone" data-tab="uomo">{{ btn_uomo }}</a>
    <a class="bottone" data-tab="bambino">{{ btn_bambino }}</a>
    <a class="bottone" data-tab="accessori">{{ btn_accessori }}</a>
  </div>
  <div>
    <div data-tab="donna" class="open">
      <div class="colonna first">
        <img src="{{ section.settings.indicazioni_donna_img | image_url }}" alt="SLAM" width="auto" height="auto">
        <div class="indicazioni">
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_donna_petto_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_donna_petto_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_donna_vita_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_donna_vita_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_donna_fianchi_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_donna_fianchi_desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="colonna last">
        {% render 'sizechart_donna' %}
      </div>
    </div>
    <div data-tab="uomo">
      <div class="colonna first">
        <img src="{{ section.settings.indicazioni_uomo_img | image_url }}" alt="SLAM" width="auto" height="auto">
        <div class="indicazioni">
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_uomo_petto_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_uomo_petto_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_uomo_vita_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_uomo_vita_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_uomo_fianchi_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_uomo_fianchi_desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="colonna last">
        {% render 'sizechart' %}
      </div>
    </div>
    <div data-tab="bambino">
      <div class="colonna first">
        <img src="{{ section.settings.indicazioni_bambino_img | image_url }}" alt="SLAM" width="auto" height="auto">
        <div class="indicazioni">
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_bambino_petto_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_bambino_petto_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_bambino_vita_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_bambino_vita_desc }}</p>
            </div>
          </div>
          <div>
            <div>
              <p class="etichetta">{{ section.settings.ind_bambino_fianchi_titolo }}</p>
            </div>
            <div>
              <p>{{ section.settings.ind_bambino_fianchi_desc }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="colonna last">
        {% render 'sizechart_bambini' %}
      </div>
    </div>
    <div data-tab="accessori">
      <div class="box">
        <div class="box_inner">
          {% render 'sizechart_accessori' %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Guida alle taglie - Tab",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "ind_donna_petto_titolo",
      "label": "Donna_petto Titolo"
    },
    {
      "type": "text",
      "id": "ind_donna_petto_desc",
      "label": "Donna_petto Descrizione"
    },
    {
      "type": "text",
      "id": "ind_donna_vita_titolo",
      "label": "Donna_vita Titolo"
    },
    {
      "type": "text",
      "id": "ind_donna_vita_desc",
      "label": "Donna_vita Descrizione"
    },
    {
      "type": "text",
      "id": "ind_donna_fianchi_titolo",
      "label": "Donna_fianchi Titolo"
    },
    {
      "type": "text",
      "id": "ind_donna_fianchi_desc",
      "label": "Donna_fianchi Descrizione"
    },
    {
      "type": "image_picker",
      "id": "indicazioni_donna_img",
      "label": "Donna Immagine"
    },

    {
      "type": "text",
      "id": "ind_uomo_petto_titolo",
      "label": "Uomo_petto Titolo"
    },
    {
      "type": "text",
      "id": "ind_uomo_petto_desc",
      "label": "Uomo_petto Descrizione"
    },
    {
      "type": "text",
      "id": "ind_uomo_vita_titolo",
      "label": "Uomo_vita Titolo"
    },
    {
      "type": "text",
      "id": "ind_uomo_vita_desc",
      "label": "Uomo_vita Descrizione"
    },
    {
      "type": "text",
      "id": "ind_uomo_fianchi_titolo",
      "label": "Uomo_fianchi Titolo"
    },
    {
      "type": "text",
      "id": "ind_uomo_fianchi_desc",
      "label": "Uomo_fianchi Descrizione"
    },
    {
      "type": "image_picker",
      "id": "indicazioni_uomo_img",
      "label": "Uomo Immagine"
    },

    {
      "type": "text",
      "id": "ind_bambino_petto_titolo",
      "label": "Bambino_petto Titolo"
    },
    {
      "type": "text",
      "id": "ind_bambino_petto_desc",
      "label": "Bambino_petto Descrizione"
    },
    {
      "type": "text",
      "id": "ind_bambino_vita_titolo",
      "label": "Bambino_vita Titolo"
    },
    {
      "type": "text",
      "id": "ind_bambino_vita_desc",
      "label": "Bambino_vita Descrizione"
    },
    {
      "type": "text",
      "id": "ind_bambino_fianchi_titolo",
      "label": "Bambino_fianchi Titolo"
    },
    {
      "type": "text",
      "id": "ind_bambino_fianchi_desc",
      "label": "Bambino_fianchi Descrizione"
    },
    {
      "type": "image_picker",
      "id": "indicazioni_bambino_img",
      "label": "Bambino Immagine"
    }
  ],
  "presets": [
    {
      "name": "Guida alle taglie - Tab",
      "category": "Custom"
    }
  ]
}
{% endschema %}
