{%- style -%}
  #shopify-section-{{ section.id }} {

  }
  @media(min-width:1000px) {
    #shopify-section-{{ section.id }} {
        margin-top:80px;
    }
  }
{%- endstyle -%}

{% liquid
  assign current_language = request.locale.iso_code

  case current_language
    when 'it'
      assign breadcrumbs_text = 'Home - Guida alle taglie'
    when 'en'
      assign breadcrumbs_text = 'Home - Sizeguide'
    when 'fr'
      assign breadcrumbs_text = 'Home - Guide des tailles'
    when 'es'
      assign breadcrumbs_text = 'Home - Guía de tallas'
    when 'de'
      assign breadcrumbs_text = 'Home - Größenführer'
    else
      assign breadcrumbs_text = 'Home - Sizeguide'
  endcase
%}

<section id="guida_taglie_hero" class="page-width">
  <p class="breadcrumbs">{{ breadcrumbs_text }}</p>
  <div>
    <div>
      <h1 class="italic">{{ section.settings.titolo_principlale }}</h1>
    </div>
    <div>
      {{ section.settings.descrizione_principale }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Guida alle taglie - Hero",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "titolo_principlale",
      "label": "Titolo pagina",
      "default": "GUIDA ALLE TAGLIE"
    },
    {
      "type": "text",
      "id": "descrizione_principale",
      "label": "Descrizione breve"
    }
  ],
  "presets": [
    {
      "name": "Guida alle taglie - Hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}
