{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'next_blog_single.css' | asset_url | stylesheet_tag }}

{% assign separator = '_' %}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta_area page-width">
    <div class="article_tags">
      <ul>
        {% for tag in article.tags %}
          <li class="label">#{{ tag.handle | split: separator | last }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="article_date label">
      {{ article.published_at | date: '%d %B %Y' }}
    </div>
  </div>
  <div class="top_content page-width">
    <header
      class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    >
      <h1
        class="article-template__title italic"
        itemprop="headline"
      >
        {{ article.title | escape }}
      </h1>
    </header>
    <div
      class="article-template__content rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      itemprop="articleBody"
    >
      {% for block in section.blocks %}
        {% if block.settings.size == 'h2' %}
          <div style="margin-bottom:20px;" class="article-subtitle h2">{{ block.settings.content }}</div>
        {% endif %}
        {% if block.settings.size == 'h3' %}
          <div style="margin-bottom:20px;" class="article-subtitle piccolo_richtext">{{ block.settings.content }}</div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {{ 'article-top-bg.png' | asset_url | img_tag: 'background' }}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "subtitle",
      "name": "Sottotitolo",
      "settings": [
        {
          "type": "select",
          "id": "size",
          "options": [
            {
              "value": "h2",
              "label": "Grande"
            },
            {
              "value": "h3",
              "label": "Piccolo"
            }
          ],
          "label": "Grandezza testo"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Contenuto"
        }
      ]
    }
  ]
}
{% endschema %}
