{{ 'next_etnz_text_section.css' | asset_url | stylesheet_tag }}
{{ 'next_etnz_articolo_dinamico_section.css' | asset_url | stylesheet_tag }}


{% assign article_id = section.settings.selected_blog_article %}
{% assign selected_article = blogs['slam-stories'].articles %}

{%- for articolo in selected_article -%}
  {% if articolo.id == article_id %}
    {% assign article_image = articolo.image %}
    {% assign article_title = articolo.title %}
    {% assign article_link = articolo.url %}
    {% assign article_date = articolo.published_at | date: '%d %B %Y' %}
  {% endif %}
{% endfor %}

<div class="etnz-text-section-container custom-container text-section-container articolo_dinamico">
  <div class="single-paragraph two-col">
    <div class="intro-area">
      <div class="green-text label">NEWS</div>
      <div class="label">{{ article_date }}</div>
      {% if article_title != blank %}
        <h3 class="paragraph-title {{ section.settings.variant_color }}-color {% if section.settings.h2_text == true %}h2{% endif %}">
          {{ article_title }}
        </h3>
      {% endif %}
      {% if article_image != blank %}
        <img
          class="articlo_dinamico_img"
          src="{{ article_image.src | image_url: width: 800 }}"
          alt="{{ article_image.alt | escape }}"
          loading="lazy"
          width="{{ article_image.width }}"
          height="{{ article_image.height }}"
        >
      {% endif %}
    </div>
    {% if section.settings.content != blank %}
      <div class="paragraph-content">
          <div class="content">{{ section.settings.content }}</div>
          {% if section.settings.button_text != blank %}
            <a
              class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta text-cta-desk"
              href="{{ article_link }}" >
              {{ section.settings.button_text }}
              {% render 'icon-arrow-link-custom' -%}
            </a>
          {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "ETNZ - Articolo dinamico",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "number",
      "id": "selected_blog_article",
      "label": "Seleziona Articolo del Blog (inserisci l'ID dell'articolo)"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Titolo bottone"
    },
    {
      "type": "checkbox",
      "id": "h2_text",
      "label": "Titolo più grande?"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "select",
      "id": "variant_color",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "green",
          "label": "Green"
        }
      ],
      "label": "Variante colore",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Articolo dinamico"
    }
  ]
}
{% endschema %}
