{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}
{{ 'next_text_with_products_carousel.css' | asset_url | stylesheet_tag }}

<div class="text-with-products-carousel page-width {% if section.settings.hideLines == true %}hideLines{% endif %}">
  <div class="content-area">
    {% if section.settings.green_label != blank %}
      <div class="green-text label">{{ section.settings.green_label }}</div>
    {% endif %}
    {% if section.settings.white_label != blank %}
      <div class="label">{{ section.settings.white_label }}</div>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="main-title h2">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.content != blank %}
      <div class="main-content">{{ section.settings.content }}</div>
    {% endif %}
    {% if section.settings.button_text != blank and section.settings.button_url != blank %}
      <a
        class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta"
        href="{{ section.settings.button_url }}"
        {% if block.settings.is_new_tab == true %}
          target="_blank"
        {% endif %}
      >
        {{ section.settings.button_text }}
        {% render 'icon-arrow-link-custom' -%}
      </a>
    {% endif %}
  </div>
  <div class="carousel-area drag-scroll">
    {% if section.settings.carousel_type == 'products' %}
      <div class="prod_card_box">
        {% for product in section.settings.prod_list %}
          <div class="prod_card_item">
            {% render 'card-product', card_product: product %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="images-container">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div
              class="media"
            >
              {{
                block.settings.image
                | image_url: width: 3200
                | image_tag: widths: '1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', class: 'image'
              }}
            </div>
          {% endfor %}
        {% else -%}
          Caricare immagini.
        {%- endif %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "ETNZ - Testo con prod/img",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "carousel_type",
      "options": [
        {
          "value": "products",
          "label": "Prodotti"
        },
        {
          "value": "images",
          "label": "Immagini"
        }
      ],
      "label": "Che contenuto vuoi mostrare come carosello?",
      "default": "products"
    },
    {
      "type": "text",
      "id": "green_label",
      "label": "Etichetta verde"
    },
    {
      "type": "text",
      "id": "white_label",
      "label": "Etichetta bianca"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo sezione"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo sezione"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Testo bottone"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link bottone"
    },
    {
      "type": "checkbox",
      "id": "is_new_tab",
      "label": "Apri in una nuova scheda?"
    },
    {
      "type": "product_list",
      "id": "prod_list",
      "label": "Prodotti da mostrare",
      "limit": 12
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Immagine",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Immagine",
          "info": "Inserire una sola immagine per blocco."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Testo con prod/img",
      "category": "Custom"
    }
  ]
}
{% endschema %}
