{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    z-index:3;
  }
  body.etnz #shopify-section-{{ section.id }} {
    z-index:3;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .hero_desk_overlay {
    position: absolute;
    bottom: 0;
    left: -300px;
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next {
    position:absolute;
    bottom:12.5vh;
    left:0;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next p {
    margin-bottom:24px;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next h1 {
    margin-bottom:5vw;
  }
  #shopify-section-{{ section.id }} section#section_hero_home > video {
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  #shopify-section-{{ section.id }} .titolo_sub {
    width:400px;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} section#section_hero_home .container_next h1 {
      margin-bottom:15vw;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_next p,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next a {
      padding-left:15px!important;
      padding-right:15px!important;
    }
    #shopify-section-{{ section.id }} .titolo_sub {
      width:250px;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .hero_desk_overlay {
      left: -35vw;
    }
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera {
    display:none;
  }
  {% if section.settings.versione_nera %}
    #shopify-section-{{ section.id }} section#section_hero_home .hero_desk_overlay,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next .titolo_sub,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next .btn_next {
      display:none;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_next {
      top: unset;
      top: 22.5vh;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera {
      display:block;
      color: var(--color-bianco);
      position:absolute;
      position: absolute;
      bottom: 12.5vh;
      right: 0;
      padding-left:10vw;
      padding-right:10vw;
      text-align:right;

    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera a.btn_next{
      margin: 0 0 0 auto;
    }

  {% endif %}
{%- endstyle -%}

{% if section.settings.alt_version == true %}
  {% assign versione_alternativa = 'versione_alternativa' %}
{% else %}
  {% assign versione_alternativa = '' %}
{% endif %}

<section
  id="section_hero_home"
  class="twcss-relative after_overlay zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full {{ versione_alternativa }}"
  style="background-image:url({{ section.settings.img_url }});"
>
  <!-- versione Normale -->
  <img
    class="hero_desk_overlay normal"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/bg_styled_hero.png?v=1709715910"
    width="100%"
    height="100%"
  >
  <!-- versione Normale - END -->

  <!-- versione Etnz -->
  <img
    class="hero_desk_overlay etnz_hero_home"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/bg_home_etnz.png?v=1722523313"
    width="100%"
    height="100%"
  >
  <!-- versione Etnz - END -->

  <!-- versione Foiling Week -->
  <img
    class="hero_desk_overlay alternativa foiling_week"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/pattern_hp_foiling_week_db481c26-9086-40ff-b5f4-f8e182a854db.png?v=1718967272"
    width="100%"
    height="100%"
  >
  <!-- versione Foiling Week - END -->

  <!-- versione RS21 -->
  <img
    class="hero_desk_overlay alternativa rs21"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/home_overlay_alt_version.png?v=1715702251"
    width="100%"
    height="100%"
  >
  <!-- versione RS21 - END -->

  <!-- versione alternativa
  <img
    class="hero_desk_overlay alternativa alt_base"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/home_overlay_alt_version.png?v=1715702251"
    width="100%"
    height="100%"
  >
  versione alternativa - END -->
  <video
    class="object-cover object-center twcss-absolute twcss-top-0 twcss-left-0 twcss--z-1 twcss-w-full twcss-h-full"
    autoplay
    loop
    muted
    playsinline
    height="100%"
    width="100%"
  >
    <source src="{{ section.settings.video_url }}" type="video/mp4">
  </video>
  <div class="container_next">
    <h1 class="twcss-text-w italic {% if section.settings.versione_nera == false %}ultra{% endif %}">
      <span class="twcss-block twcss-ml-20">{{ section.settings.payoff_pt1 }}</span
      ><span class="twcss-block">{{ section.settings.payoff_pt2 }}</span
      ><span class="twcss-ml-24 twcss-block">{{ section.settings.payoff_grunge_effect }}</span>
    </h1>
    <p class="twcss-text-w titolo_sub">{{ section.settings.payoff_sub }}</p>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="container_versione_nera">
    <h2 class="ultra text_grunge" style="padding:0;margin: 0 0 0 auto;">ETNZ</h2>
    <h2>OFFICIAL REPLICA</h2>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Hero full-width video",
  "settings": [
    {
      "type": "text",
      "id": "payoff_pt1",
      "label": "Payoff pt1"
    },
    {
      "type": "text",
      "id": "payoff_pt2",
      "label": "Payoff pt2"
    },
    {
      "type": "text",
      "id": "payoff_grunge_effect",
      "label": "Payoff Grunge Effect"
    },
    {
      "type": "text",
      "id": "payoff_sub",
      "label": "Sottotitolo payoff"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "URL del Video background"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "URL Immagine background"
    },
    {
      "type": "checkbox",
      "id": "versione_nera",
      "label": "Versione nera?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_version",
      "label": "Alternate version?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Bottone con freccia",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Testo del bottone"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL del bottone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero full-width video",
      "category": "Custom"
    }
  ]
}
{% endschema %}
