{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    overflow:hidden;
    {% if section.settings.larghezza == true %}
      width:33.333333%;
      display:inline-block;
    {% endif %}

    {% case section.settings.tipo_padding %}
      {% when 'no_padding' %}
        width:calc(33.333333% - ((clamp(30px, 4vw, 60px) * 2) / 3) - 4px);
      {% when 'padding_left' %}
        width:calc(33.333333% + clamp(30px, 4vw, 60px) - ((clamp(30px, 4vw, 60px) * 2) / 3));
      {% when 'padding_right' %}
        width:calc(33.333333% + clamp(30px, 4vw, 60px) - ((clamp(30px, 4vw, 60px) * 2) / 3));
    {% endcase %}
  }
  section#section_article .card_home p {
    color: var(--color-bianco);
  }
  section#section_article .card_home h3 {
    color: var(--color-bianco);
  }
  section#section_article .card_home {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:20px;
    position:relative;
    padding-bottom: 12.5vh;
    width:100%;
    height:100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  section#section_article .card_home video {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height:100%;
  }
  section#section_article .card_home img {
    position:absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height:100%;
    top:0;
    left:0;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} {
      width:100%;
      display:block;
      margin-left: 0;
    }
    section#section_article .card_home {
      padding-right:90px!important;
    }
  }
  @media(min-width:1000px) {
    section#section_article {
      padding-top: clamp(30px, 4vw, 60px);
      padding-bottom: clamp(30px, 4vw, 60px);
    }
    section#section_article.padding_left {
      padding-left: clamp(30px, 4vw, 60px);
    }
    section#section_article.padding_right {
      padding-right: clamp(30px, 4vw, 60px);
    }
    section#section_article.no_padding {
        border-left: solid #fff 2px;
        border-right: solid #fff 2px;
    }
  }
  section#section_article .after_overlay::after {
      z-index:-1;
  }
{%- endstyle -%}

{% case section.settings.tipo_padding %}
  {% when 'no_padding' %}
    {% assign caratt_card = 'no_padding' %}
  {% when 'padding_left' %}
    {% assign caratt_card = 'padding_left' %}
  {% when 'padding_right' %}
    {% assign caratt_card = 'padding_right' %}
{% endcase %}

<section
  id="section_article"
  class="twcss-relative zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full {{ caratt_card }}"
>
  <div class="card_home after_overlay twcss-relative">

    {% liquid
      assign blog_stories = blogs['slam-stories']
      assign latest_post = blog_stories.articles | sort: 'published_at' | last
    
      if latest_post
        assign post_title = latest_post.title
        assign post_url = latest_post.url
        assign post_featured_image = latest_post.image.src
        assign post_excerpt = latest_post.excerpt | strip_html
        if latest_post.metafields.custom.video != blank
          assign post_video_url = latest_post.metafields.custom.video
        endif

        assign translated_post = latest_post.translations[current_locale] | first
    
        if translated_post
          assign post_title = translated_post.title
          assign post_url = translated_post.url
          assign post_featured_image = translated_post.image.src
          assign post_excerpt = translated_post.excerpt | strip_html
          if translated_post.metafields.custom.video != blank
            assign post_video_url = translated_post.metafields.custom.video
          endif
        endif
      endif
    %}

    {% if post_video_url %}
      <video
        class="object-cover object-center twcss-absolute twcss-top-0 twcss-right-0 twcss-w-full twcss-h-full"
        autoplay
        loop
        muted
        playsinline
        height="100%"
        width="100%"
      >
        <source src="{{ post_video_url | file_url }}" type="video/mp4">
      </video>
    {% else %}
      <img
        src="{{ post_featured_image | image_url }}"
        alt="SLAM | {{ post_title }}"
        height=""
        width=""
        loading="lazy"
      >
    {% endif %}

    <p class="label">STORIES</p>
    <h3 class="">{{ post_title }}</h3>
    <p>{{ post_excerpt }}</p>
    <a
      class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center"
      href="{{ post_url }}"
    >
      {{ section.settings.read_more_text }}
      {% render 'icon-arrow-link-custom' -%}
    </a>
  </div>
</section>

{% schema %}
{
  "name": "Card articolo - auto",
  "settings": [
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Testo del bottone",
      "default": "EXPLORE"
    },
    {
      "type": "checkbox",
      "id": "larghezza",
      "label": "Larghezza 33% (SOLO con 3 sezioni)",
      "default": false
    },
    {
      "type": "select",
      "id": "tipo_padding",
      "label": "Tipo di Padding",
      "options": [
        {
          "value": "no_padding",
          "label": "Nessun Padding"
        },
        {
          "value": "padding_left",
          "label": "Padding Sinistra"
        },
        {
          "value": "padding_right",
          "label": "Padding Destra"
        }
      ],
      "default": "no_padding"
    }
  ],
  "presets": [
    {
      "name": "Card articolo - auto",
      "category": "Custom"
    }
  ]
}
{% endschema %}
