{%- style -%}
{%- endstyle -%}

{% liquid
  assign current_language = request.locale.iso_code

  case current_language
    when 'it'
      assign titolo_benefit_impermeabile = 'IMPERMEABILE'
      assign descrizione_benefit_impermeabile = 'La resistenza all’acqua viene espressa in millimetri, che rappresentano l’altezza della colonna d’acqua a cui il tessuto è in grado di resistere prima di lasciar passare il liquido.'

      assign titolo_benefit_traspirante = 'TRASPIRANTE'
      assign descrizione_benefit_traspirante = 'Tessuto capace di assorbire il sudore e di facilitarne la naturale evaporazione veicolandolo verso l’esterno.'

      assign titolo_benefit_protezione_uv = 'PROTEZIONE UV'
      assign descrizione_benefit_protezione_uv = 'La protezione anti-UV si ottiene grazie alla speciale costruzione del tessuto o all’utilizzo di trattamenti specifici.'

      assign titolo_termo_regolatore = 'TERMOREGOLANTE'
      assign descrizione_benefit_termo_regolatore = 'La termoregolazione è la capacità di isolamento di un capo, cioè la proprietà di mantenere costante la temperatura del corpo in condizioni esterne di alta o bassa temperatura. L’elevato grado di termoregolazione permette di limitare il numero dei capi da indossare, migliorando la libertà di movimento.'

      assign meteo = 'meteo'
      assign attivita = 'attività'

    when 'en'
      assign titolo_benefit_impermeabile = 'WATERPROOF'
      assign descrizione_benefit_impermeabile = 'Waterproofing is expressed in millimetres which represents the height of the column of water the fabric is able to withstand before allowing liquid through.'

      assign titolo_benefit_traspirante = 'BREATHABLE'
      assign descrizione_benefit_traspirante = 'Fabric that absorbs perspiration and allows its natural evaporation by conveying it to the outside.'

      assign titolo_benefit_protezione_uv = 'ANTI-UV'
      assign descrizione_benefit_protezione_uv = 'A fabric provides UV PROTECTION when it has UPF 30+ or UPF 50+ rating, which means it effectively blocks solar ultraviolet radiation from reaching the skin. The UV protection is obtained thanks to the special construction of thefabric or to a special treatment.'

      assign titolo_termo_regolatore = 'THERMO-CONTROL'
      assign descrizione_benefit_termo_regolatore = 'Thermo-control is the ability to maintain a constant temperature despite of environmental changing conditions. The high thermoregulation effect means you can reduce the number of garments to wear, in turn assuring greater comfort.'

      assign meteo = 'weather'
      assign attivita = 'activity'

    when 'fr'
      assign titolo_benefit_impermeabile = 'IMPERMÉABLE'
      assign descrizione_benefit_impermeabile = "La résistance à l'eau est exprimée en millimètres, qui représentent la hauteur de la colonne d’eau à laquelle le tissu est capable de résister avant le laisser passer le liquide."

      assign titolo_benefit_traspirante = 'RESPIRABILITÉ'
      assign descrizione_benefit_traspirante = 'Tissu capable d’absorber la sueur et de faciliter son évaporation naturelle, en la transportant vers l’extérieur.'

      assign titolo_benefit_protezione_uv = 'PROTECTION CONTRE LES UV'
      assign descrizione_benefit_protezione_uv = "La protection anti-UV est assurée grâce à la construction spéciale du tissu ou à l'utilisation de traitements spécifiques."

      assign titolo_termo_regolatore = 'THERMORÉGULATION'
      assign descrizione_benefit_termo_regolatore = "La thermorégulation est la capacité d’isolation d'un vêtement, c’est-à-dire la propriété de maintenir constante la température du corps dans des conditions externes de haute ou de basse température. Le niveau élevé de thermorégulation permet de limiter le nombre de vêtements à porter, améliorant la liberté de mouvement."

      assign meteo = 'météo'
      assign attivita = 'activité'

    when 'es'
      assign titolo_benefit_impermeabile = 'IMPERMEABLE'
      assign descrizione_benefit_impermeabile = 'La resistencia al agua se expresa en milímetros, que representan la altura de la columna de agua a la que el tejido es capaz de resistir antes de dejar pasar el líquido.'

      assign titolo_benefit_traspirante = 'TRANSPIRABILIDAD'
      assign descrizione_benefit_traspirante = 'Tejido capaz de absorber el sudor y facilitar la natural evaporación conduciéndolo hacia el exterior.'

      assign titolo_benefit_protezione_uv = 'PROTECCIÓN RAYOS UV '
      assign descrizione_benefit_protezione_uv = 'La protección anti UV se obtiene gracias a la especial construcción del tejido o al empleo de tratamientos específicos.'

      assign titolo_termo_regolatore = 'TERMORREGULACIÓN'
      assign descrizione_benefit_termo_regolatore = 'La termorregulación es la capacidad de aislamiento de una prenda, es decir, la propiedad para mantener constante la temperatura del cuerpo en condiciones externas de alta o baja temperatura. El elevado grado de termorregulación permite limitar el número de prendas que se deben usar, mejorando la libertad de movimiento.'

      assign meteo = 'clima'
      assign attivita = 'actividad'

    when 'de'
      assign titolo_benefit_impermeabile = 'UNDURCHLÄSSIG'
      assign descrizione_benefit_impermeabile = 'Die Wasserfestigkeit wird in Millimetern ausgedrückt, die die Höhe der Wassersäule darstellen, der das Gewebe in der Lage ist standzuhalten, bevor die Flüssigkeit durchdringen kann.'

      assign titolo_benefit_traspirante = 'ATMUNGSAKTIV'
      assign descrizione_benefit_traspirante = 'Gewebe, das in der Lage ist, den Schweiß aufzunehmen und seine natürliche Verdunstung zu erleichtern, indem er nach außen abgeführt wird.'

      assign titolo_benefit_protezione_uv = 'SCHUTZ GEGEN UV-STRAHLEN'
      assign descrizione_benefit_protezione_uv = 'Der UV-Schutz wird anhand einer speziellen Konstruktion des Gewebes oder unter Einsatz spezifischer Behandlungen erzielt.'

      assign titolo_termo_regolatore = 'WÄRMEREGULIERUNG'
      assign descrizione_benefit_termo_regolatore = 'Mit Wärmeregulierung bezeichnet man die Isolierfähigkeit eines Kleidungsstücks, d. h., die Eigenschaft, die Körpertemperatur unter Außenbedingungen mit hoher oder niedriger Temperatur konstant zu halten. Die große Wärmeregulierungsfähigkeit gestattet es, die Anzahl der getragenen Kleidungsstücke zu begrenzen und so die Bewegungsfreiheit zu verbessern.'

      assign meteo = 'Wetter'
      assign attivita = 'Aktivität'

    else
      assign titolo_benefit_impermeabile = 'WATERPROOF'
      assign descrizione_benefit_impermeabile = 'Waterproofing is expressed in millimetres which represents the height of the column of water the fabric is able to withstand before allowing liquid through.'

      assign titolo_benefit_traspirante = 'BREATHABLE'
      assign descrizione_benefit_traspirante = 'Fabric that absorbs perspiration and allows its natural evaporation by conveying it to the outside.'

      assign titolo_benefit_protezione_uv = 'ANTI-UV'
      assign descrizione_benefit_protezione_uv = 'A fabric provides UV PROTECTION when it has UPF 30+ or UPF 50+ rating, which means it effectively blocks solar ultraviolet radiation from reaching the skin. The UV protection is obtained thanks to the special construction of thefabric or to a special treatment.'

      assign titolo_termo_regolatore = 'THERMO-CONTROL'
      assign descrizione_benefit_termo_regolatore = 'Thermo-control is the ability to maintain a constant temperature despite of environmental changing conditions. The high thermoregulation effect means you can reduce the number of garments to wear, in turn assuring greater comfort.'

      assign meteo = 'weather'
      assign attivita = 'activity'
  endcase
%}

<section
  id="section_vantaggi"
  class="twcss-relative twcss-grid twcss-grid-cols-2"
>
  <div class="colonna second_slider">
    {% assign count = 0 %}
    {%- for media in product.media -%}
      {% assign image_type = media.src | split: '_' | slice: 3 | join: '' %}
      {% if image_type == 'D1' or image_type == 'D2' or image_type == 'D3' or image_type == 'D4' %}
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}
    {% if count > 3 %}
      {% assign controllo_piu_di_tre = 'piu_di_tre' %}
    {% endif %}
    {% if count == 5 or count == 7 or count == 9 or count == 11 %}
      {% assign controllo_dispari = 'dispari' %}
    {% endif %}
    <div class="slick_product_secondario {{ controllo_piu_di_tre }} {{ controllo_dispari }}">
      {%- capture sizes -%}
                (max-width: 767px) 767px,
                (max-width: 999px) 999px,
                (max-width: 1024px) 1024px,
                (max-width: 1280px) 1280px,
                (max-width: 1440px) 1440px,
                1946px
            {%- endcapture -%}

      {%- for media in product.media -%}
        {% assign image_type = media.src | split: '_' | slice: 3 | join: '' %}
        {% if image_type == 'D1' or image_type == 'D2' or image_type == 'D3' or image_type == 'D4' %}
          {% assign color = media.src | split: '_' | slice: 1 | join: '' %}
          <a
            href="https:{{ media | image_url }}"
            data-fancybox="product_gallery"
            class="slick_product_secondario__item"
            data-color="{{ color }}"
            style="display: none;"
          >
            {{ media | image_url: width: 1946 | image_tag: loading: lazy, sizes: sizes, widths: '400, 530, 600' }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="colonna vantaggi">
    {% if product.metafields.custom.waterproof > 0 %}
      {% assign show_waterproof = true %}
    {% endif %}
    {% if product.metafields.custom.uv_protection > 0 %}
      {% assign show_uv_protection = true %}
    {% endif %}
    {% if product.metafields.custom.breathable > 0 %}
      {% assign show_breathable = true %}
    {% endif %}
    {% if product.metafields.custom.thermocontrol > 0 %}
      {% assign show_termo_regolatore = true %}
    {% endif %}

    {% if show_waterproof or show_uv_protection or show_breathable or show_termo_regolatore %}
      <div>
        <h3>
          <span>{{ section.settings.vantaggi_title }}</span>
        </h3>
        {% if show_waterproof %}
          <div class="elem_vantaggio tipo-impermeabile">
            <div class="testata_vantaggio twcss-flex twcss-justify-between">
              <div class="dati_vantaggio twcss-flex twcss-items-center">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/impermeabile.svg?v=1705849821"
                  alt="SLAM"
                  loading="lazy"
                  width="45"
                  height="auto"
                >
                <p class="etichetta">{{ titolo_benefit_impermeabile }}</p>
                {% render 'product_vantaggi_impermeabile' %}
              </div>
              <div class="dati_informazioni twcss-flex twcss-items-center">
                <p class="livello_numbers micro">{{ product.metafields.custom.waterproof }}/6</p>
                {% render 'icon_informazioni' %}
              </div>
            </div>
            <div class="descrizione_vantaggio">
              <p>{{ descrizione_benefit_impermeabile }}</p>
            </div>
          </div>
        {% endif %}

        {% if show_uv_protection %}
          <div class="elem_vantaggio tipo-protezione_uv">
            <div class="testata_vantaggio twcss-flex twcss-justify-between">
              <div class="dati_vantaggio twcss-flex twcss-items-center">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/monotipo.svg?v=1704908805"
                  alt="SLAM"
                  loading="lazy"
                  width="45"
                  height="auto"
                >
                <p class="etichetta">{{ titolo_benefit_protezione_uv }}</p>
                {% render 'product_vantaggi_protezione-uv' %}
              </div>
              <div class="dati_informazioni twcss-flex twcss-items-center">
                <p class="livello_numbers micro">{{ product.metafields.custom.uv_protection }}/6</p>
                {% render 'icon_informazioni' %}
              </div>
            </div>
            <div class="descrizione_vantaggio">
              <p>{{ descrizione_benefit_protezione_uv }}</p>
            </div>
          </div>
        {% endif %}

        {% if show_breathable %}
          <div class="elem_vantaggio tipo-traspirante">
            <div class="testata_vantaggio twcss-flex twcss-justify-between">
              <div class="dati_vantaggio twcss-flex twcss-items-center">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/transpirant.svg?v=1704908804"
                  alt="SLAM"
                  loading="lazy"
                  width="45"
                  height="auto"
                >
                <p class="etichetta">{{ titolo_benefit_traspirante }}</p>
                {% render 'product_vantaggi_traspirante' %}
              </div>
              <div class="dati_informazioni twcss-flex twcss-items-center">
                <p class="livello_numbers micro">{{ product.metafields.custom.breathable }}/6</p>
                {% render 'icon_informazioni' %}
              </div>
            </div>
            <div class="descrizione_vantaggio">
              <p>{{ descrizione_benefit_traspirante }}</p>
            </div>
          </div>
        {% endif %}

        {% if show_termo_regolatore %}
          <div class="elem_vantaggio tipo-termo_regolatore">
            <div class="testata_vantaggio twcss-flex twcss-justify-between">
              <div class="dati_vantaggio twcss-flex twcss-items-center">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Frame_129.svg?v=1704908468"
                  alt="SLAM"
                  loading="lazy"
                  width="45"
                  height="auto"
                >
                <p class="etichetta">{{ titolo_termo_regolatore }}</p>
                {% render 'product_vantaggi_termo_regolatore' %}
              </div>
              <div class="dati_informazioni twcss-flex twcss-items-center">
                <p class="livello_numbers micro">{{ product.metafields.custom.thermocontrol }}/6</p>
                {% render 'icon_informazioni' %}
              </div>
            </div>
            <div class="descrizione_vantaggio">
              <p>{{ descrizione_benefit_termo_regolatore }}</p>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% if product.metafields.custom.tech_features.value %}
      <div class="colonna_interna specifiche_tecniche twcss-pt-20">
        <h3>
          <span>{{ section.settings.specifiche_tecniche_title }}</span>
        </h3>

        <div class="specifica_tecnica_box">
          {% if product.metafields.custom.tech_features.value contains 'Water repellent' %}
            <div class="specifica_tecnica_item tipo-water-repellent twcss-p-4 twcss-uppercase">Water repellent</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Thermotaped' %}
            <div class="specifica_tecnica_item tipo-thermo-taped twcss-p-4 twcss-uppercase">Full thermo-taped</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Antibacterial' %}
            <div class="specifica_tecnica_item tipo-antibacterial twcss-p-4 twcss-uppercase">Antibacterial</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Thermo regulating' %}
            <div class="specifica_tecnica_item tipo-thermo-regulating twcss-p-4 twcss-uppercase">Thermo regulating</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Stretch' %}
            <div class="specifica_tecnica_item tipo-stretch twcss-p-4 twcss-uppercase">Stretch</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Quick dry' %}
            <div class="specifica_tecnica_item tipo-quick-dry twcss-p-4 twcss-uppercase">Quick Dry</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Recycled material' %}
            <div class="specifica_tecnica_item tipo-recycled twcss-p-4 twcss-uppercase">Recycled material</div>
          {% endif %}

           {% if product.metafields.custom.tech_features.value contains 'Windproof' %}
            <div class="specifica_tecnica_item tipo-windproof twcss-p-4 twcss-uppercase">Windproof</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'No marking' %}
            <div class="specifica_tecnica_item tipo-no-marking twcss-p-4 twcss-uppercase">No marking</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Flatlock stitching' %}
            <div class="specifica_tecnica_item tipo-flatlock-stitching twcss-p-4 twcss-uppercase">
              Flatlock stitching
            </div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Reflective' %}
            <div class="specifica_tecnica_item tipo-reflective twcss-p-4 twcss-uppercase">Reflective</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Antipilling' %}
            <div class="specifica_tecnica_item tipo-antipilling twcss-p-4 twcss-uppercase">Antipilling</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Packable' %}
            <div class="specifica_tecnica_item tipo-packable twcss-p-4 twcss-uppercase">Packable</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Anti slip' %}
            <div class="specifica_tecnica_item tipo-anti-slip twcss-p-4 twcss-uppercase">Anti slip</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Organic cotton' %}
            <div class="specifica_tecnica_item tipo-organic-cotton twcss-p-4 twcss-uppercase">Organic cotton</div>
          {% endif %}

          {% if product.metafields.custom.tech_features.value contains 'Easy Care' %}
            <div class="specifica_tecnica_item tipo-easy-care twcss-p-4 twcss-uppercase">Easy Care</div>
          {% endif %}
        </div>
        
        {% if product.metafields.custom.video_tecnico %}
          <a href="{{ product.metafields.custom.video_tecnico }}" class="video_tecnico" data-fancybox="product_tech_video">
            <video autoplay muted playsinline loop>
              <source src="{{ product.metafields.custom.video_tecnico }}" type="video/mp4">
              we are sorry: your browser don't support video. Please, update it to watch.
            </video>
          </a>
        {% endif %}

      </div>
    {% endif %}

    <div class="colonna_interna target twcss-pt-20">
      <h3>
        <span>{{ section.settings.target_title }}</span>
      </h3>
      <div class="box_target">
        <div class="inner_target target_meteo">
          <p class="etichetta twcss-uppercase twcss-pb-6">{{ meteo }}</p>
          <div class="specifica_inner">
            {% if product.metafields.custom.four_seasons %}
              <div class="specifica meteo-seasons">
                {% render 'icon_meteo_4seasons' %}
                <p>4 Seasons</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.meteo.value contains 'Hot' %}
              <div class="specifica meteo-hot">
                {% render 'icon_meteo_hot' %}
                <p>Hot</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.meteo.value contains 'Warm' %}
              <div class="specifica meteo-warm">
                {% render 'icon_meteo_mild' %}
                <p>Warm</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.meteo.value contains 'Cold' %}
              <div class="specifica meteo-cold">
                {% render 'icon_meteo_cold' %}
                <p>Cold</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.meteo.value contains 'Wet' %}
              <div class="specifica meteo-rain">
                {% render 'icon_meteo_wet' %}
                <p>Wet</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.meteo.value contains 'Windy' %}
              <div class="specifica meteo-wind">
                {% render 'icon_meteo_windy' %}
                <p>Windy</p>
              </div>
            {% endif %}
          </div>
        </div>
        <div class="inner_target target_attivita">
          <p class="etichetta twcss-uppercase twcss-pb-6">{{ attivita }}</p>
          <div class="specifica_inner">
            {% if product.metafields.custom.activities.value contains 'Offshore' %}
              <div class="specifica attivita-offshore">
                <img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/off-shore.svg?v=1711379961">
                <p>Offshore</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.activities.value contains 'Inshore One Design' %}
              <div class="specifica attivita-inshore">
                <img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/off-shore.svg?v=1711379961">
                <p>Inshore One Design</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.activities.value contains 'Dinghy/Foil' %}
              <div class="specifica attivita-foiling">
                <img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/dinghy-foiling.svg?v=1711379961">
                <p>Dinghy/Foil</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.activities.value contains 'Crew and Uniform' %}
              <div class="specifica attivita-yatching">
                <img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/yachting.svg?v=1711379961">
                <p>Crew and Uniform</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.activities.value contains 'Lifestyle' %}
              <div class="specifica attivita-deckwear">
                <img src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/deckwear.svg?v=1711379961">
                <p>Lifestyle</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="target_accordion_box">
        <div class="target_accordion_item">
          <div class="titolo">
            <h3>
              {% render 'icon_slash_rosso' %}
              <p class="micro">01</p>
              <span>{{ section.settings.target_desc }}</span>
            </h3>
          </div>
          <div class="descrizione">
            <p>{{ product.metafields.custom.descrizione_completa | metafield_tag }}</p>
          </div>
        </div>
        <div class="target_accordion_item">
          <div class="titolo">
            <h3>
              {% render 'icon_slash_rosso' %}
              <p class="micro">02</p>
              <span>{{ section.settings.target_dett }}</span>
            </h3>
          </div>
          <div class="descrizione">
            <div id="dettagliProdottoLista">
              {% assign dettagli = product.metafields.custom.dettagli_prodotto_lista | split: ';' %}
              <ul>
                {% for dettaglio in dettagli %}
                  <li>{{ dettaglio }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="target_accordion_item">
          <div class="titolo">
            <h3>
              {% render 'icon_slash_rosso' %}
              <p class="micro">03</p>
              <span>{{ section.settings.target_comp }}</span>
            </h3>
          </div>
          <div class="descrizione">
            {% if product.metafields.custom.fabric != blank %}
              <div class="materiale_item twcss-mb-4">
                <h4>Fabric</h4>
                {{ product.metafields.custom.fabric | replace: ',', '<br>' }}
              </div>
            {% endif %}

            {% if product.metafields.custom.membrane != blank %}
              <div class="materiale_item twcss-mb-4">
                <h4>Membrane</h4>
                {{ product.metafields.custom.membrane.value.info | replace: ',', '<br>' }}
              </div>
            {% endif %}

            {% if product.metafields.custom.padding != blank %}
              <div class="materiale_item twcss-mb-4">
                <h4>Padding</h4>
                <p>{{ product.metafields.custom.padding.value.name }}</p>
              </div>
            {% endif %}

            {% if product.metafields.custom.lining != blank %}
              <div class="materiale_item twcss-mb-4">
                <h4>Lining</h4>
                {{ product.metafields.custom.lining.value.info }}
              </div>
            {% endif %}
            {% if false %}
            {% if product.metafields.custom.fabrics.value contains 'Auex' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Dryarn' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Maxaliento' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Dermisax' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Graphene' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Organig cotton' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Vibram' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Power lycra' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Techno piquet' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Polartek Alpha' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Pontetorto' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}

            {% if product.metafields.custom.fabrics.value contains 'Merino stretch' %}
              <div class="logo_materiale twcss-mb-12 twcss-mt-12">
                <img
                  src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/materiale_demo.svg?v=1707311205"
                  loading="lazy"
                  width="98"
                  height="32"
                >
              </div>
            {% endif %}
            {% endif %}

            {% if product.metafields.custom.washing != blank %}
              <div class="trattamenti_materiale twcss-flex twcss-gap-4">
                {% render 'washing_info' %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="popup_sizechart main">

  {% assign prod_collections = product.collections | map: 'handle' %}
  
  {% if prod_collections %}

    {% assign is_accessories_collection = false %}
    {% assign is_men_collection = false %}
    {% assign is_women_collection = false %}
    {% assign is_kids_collection = false %}

    {% if prod_collections contains 'clothes-and-accesories' or 
      prod_collections contains 'kleidung-und-zubehor' or 
      prod_collections contains 'ropa-y-accesorios' %}
      {% assign is_accessories_collection = true %}
    {% endif %}

    {% if prod_collections contains 'mens-sailing-clothing' or 
      prod_collections contains 'abbigliamento-vela-uomo' or 
      prod_collections contains 'vetements-de-voile-pour-hommes' or 
      prod_collections contains 'herrensegelkleidung' or 
      prod_collections contains 'ropa-de-navegacion-para-hombres' %}
      {% assign is_men_collection = true %}
    {% else %}
      {% assign is_men_collection = false %}
    {% endif %}
    
    {% if prod_collections contains 'womens-sailing-clothing' or 
      prod_collections contains 'abbigliamento-vela-donna' or 
      prod_collections contains 'vetements-de-voile-pour-femmes' or 
      prod_collections contains 'damen-segelkleidung' or 
      prod_collections contains 'ropa-de-navegacion-para-mujeres' %}
      {% assign is_women_collection = true %}
    {% endif %}

    {% if prod_collections contains 'kids-sailing-clothing' or 
      prod_collections contains 'abbigliamento-vela-bambino' or 
      prod_collections contains 'veste-de-voile-pour-enfant' or 
      prod_collections contains 'kinder-segelkleidung' or 
      prod_collections contains 'ropa-de-navegacion-para-ninos' %}
      {% assign is_kids_collection = true %}
    {% endif %}
      
    {% if is_men_collection %}
      <div class="popup_sizechart">
        {% render 'sizechart' %}
      </div>
    {% elsif is_women_collection %}
      <div class="popup_sizechart">
        {% render 'sizechart_donna' %}
      </div>
    {% elsif is_kids_collection %}
      <div class="popup_sizechart">
        {% render 'sizechart_bambini' %}
      </div>
    {% elsif is_accessories_collection %}
      <div class="popup_sizechart">
        {# render 'sizechart_accessori' #}
      </div>
    {% else %}
      <div class="popup_sizechart">
        {% render 'sizechart' %}
      </div>
    {% endif %}

  {% endif %}
</div>


{% schema %}
{
  "name": "Sezione Vantaggi",
  "settings": [
    {
      "type": "text",
      "id": "vantaggi_title",
      "label": "Titolo Vantaggi"
    },
    {
      "type": "text",
      "id": "target_title",
      "label": "Titolo Target"
    },
    {
      "type": "text",
      "id": "specifiche_tecniche_title",
      "label": "Titolo Specifiche tecniche"
    },
    {
      "type": "text",
      "id": "target_desc",
      "label": "Titolo tab Descerizione"
    },
    {
      "type": "text",
      "id": "target_dett",
      "label": "Titolo tab Dettagli"
    },
    {
      "type": "text",
      "id": "target_comp",
      "label": "Titolo tab Composizione"
    }
  ],
  "presets": [
    {
      "name": "Sezione Vantaggi",
      "category": "Custom"
    }
  ]
}
{% endschema %}
