{%- style -%}
  section#section_last_posts_grid {
    height: 100vh;
  }
  section#section_last_posts_grid a.special_view img.main_img {
    height: 50% !important;
  }
  section#section_last_posts_grid a.special_view h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  section#section_last_posts_grid a.special_view .special_img {
    position: absolute;
    top: -37%;
    left: 40%;
    z-index: 5;
  }
  section#section_last_posts_grid a.special_view {
    &::after {
      height: 50%;
    }
  }
  section#section_last_posts_grid h3 {
    max-width: 75%;
  }
  section#section_last_posts_grid .special_thumb_img {
    height: 50%;
  }
{%- endstyle -%}

{% assign ultimi_articoli = blogs.news.articles %}

<section
  id="section_link"
  class="twcss-bg-b twcss-flex twcss-items-center twcss-justify-center twcss-gap-2 twcss-pt-20 twcss-pb-10 twcss-relative"
>
  {% render 'icon-bussola' %}
  <a class="twcss-text-w twcss-flex twcss-items-center" href="{{ blogs.news.url }}">STORIES</a>
</section>
<section id="section_last_posts_grid" class="twcss-grid twcss-grid-cols-2 twcss-gap-px twcss-bg-b twcss-relative">
  {% for articolo in ultimi_articoli %}
    <a
      href="{{ articolo.url }}"
      class="after_overlay twcss-relative post_thumb_custom {% if articolo.tags contains 'Tag_di_prova' %}special_view{% endif %}"
    >
      <img
        class="main_img twcss-w-full twcss-h-full twcss-object-cover object-center"
        src="{{ articolo.image.src | image_url: width: 200 }}"
        alt="{{ articolo.image.alt | escape }}"
        loading="lazy"
        width="{{ articolo.image.width }}"
        height="{{ articolo.image.height }}"
      >
      {% if articolo.tags contains 'Tag_di_prova' %}
        <div class="special_thumb_img twcss-bg-blu twcss-relative">
          <img
            class="twcss-h-full special_img"
            src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/freccie_blog.png?v=1703000120"
            alt="SLAM | stories"
            loading="lazy"
            width="{{ articolo.image.width }}"
            height="{{ articolo.image.height }}"
          >
        </div>
      {% endif %}
      <h3 class="twcss-text-w twcss-absolute twcss-bottom-8 twcss-left-8 twcss-z-10">{{ articolo.title }}</h3>
    </a>
  {% endfor %}
</section>
<section
  id="section_cta_blog"
  class="twcss-bg-b twcss-flex twcss-flex-col container_next twcss-justify-center twcss-gap-8 twcss-pt-40 twcss-pb-60 twcss-relative"
>
  <p class="twcss-text-w">Stories</p>
  <h2 class="twcss-text-w twcss-pb-8 twcss-pt-8">Storie del mare</h2>
  <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ blogs.news.url }}"
    >VEDI TUTTI GLI ARTICOLI {% render 'icon-arrow-link-custom' -%}
  </a>
</section>

{% schema %}
{
  "name": "Last Posts Grid",
  "settings": [],
  "presets": [
    {
      "name": "Last Posts Grid",
      "category": "Custom"
    }
  ]
}
{% endschema %}
