{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    overflow:hidden;
    background-color:var(--color-nero);
  }
  section#section_etnz_video .container_next p {
    color: var(--color-bianco);
  }
  section#section_etnz_video .container_next h2 {
    color: var(--color-bianco);
  }
  section#section_etnz_video .container_next {
    position:absolute;
    top:25vh;
    left:0;
    display:flex;
    flex-direction:column;
    gap: 5vw;
    height:fit-content;
  }
  section#section_etnz_video .container_next.cn_destra {
    top:unset;
    bottom: 12.5vh;
    right: 0;
    gap: 20px;
    left: unset;
    max-width: 43%;
    min-width: 300px;
  }
  section#section_etnz_video.versione_dx .container_next {
    left:unset;
    right:0
  }
  section#section_etnz_video.versione_dx .container_next.cn_destra {
    right:unset;
    left:0
  }
  section#section_etnz_video.versione_dx .container_next.cn_sinistra {
    padding-right:0;
  }
  section#section_etnz_video > video {
    object-fit: cover;
    object-position: center;
    z-index: 0;
    width: 50%;
  }
  section#section_etnz_video > img {
    display:none;
  }
  section#section_etnz_video.versione_dx > img.overlay_dx {
    height:100%;
    width:auto;
    display:block;
    object-fit: cover;
    object-position:left;
    margin: 0 0 0 auto !important;
    position:absolute;
    z-index:0;
    top:0;
    right:0;
  }
  section#section_etnz_video.versione_sx > img.overlay_sx {
    height:100%;
    width:auto;
    display:block;
    object-fit: cover;
    object-position:right;
    position:relative;
  }
  section#section_etnz_video.versione_dx > video {
    right:unset !important;
    left:0!important;
    position:relative;

  }
  section#section_etnz_video h2.h1,
  section#section_etnz_video h3 {
    color: var(--color-bianco)!important;
  }
  section#section_etnz_video h3 {
    max-width:50%;
  }
  @media(max-width:1450px){
    .cn_sinistra.versione_dx {
      transform:scale(.75);
      transform-origin: 70% 0;
    }
    .cn_sinistra.versione_sx {
      transform:scale(.75);
      transform-origin: 30% 0;
    }
  }
  @media(max-width:1280px){
    section#section_etnz_video.versione_sx > img.overlay_sx {
      position:absolute;
      right:15%;
    }
    section#section_etnz_video.versione_dx > img.overlay_dx {
      position:absolute;
      left:15%;
    }
  }
  @media(max-width:999px){
    section#section_etnz_video > video {
      width: 100%;
    }
    section#section_etnz_video > img {
      height: 60% !important;
    }
    section#section_etnz_video .container_next.cn_destra {
      min-width: 100%;
      padding-left:30px !important;
      padding-right:90px !important;
    }
    /* tolgo immagini e primo blocco da mobile */
    section#section_etnz_video > img,
    section#section_etnz_video .container_next.cn_sinistra {
      display:none !important;
    }
  }
{%- endstyle -%}

{% liquid
  case section.settings.select_option
    when 'versione_sx'
      assign versioneOverlay = 'versione_sx'
    when 'versione_dx'
      assign versioneOverlay = 'versione_dx'
  endcase
%}

<section
  id="section_etnz_video"
  class="twcss-relative after_overlay zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full {{ versioneOverlay }}"
  style="background-image:url({{ section.settings.img_url }});"
>
  <video
    class="object-cover object-center twcss-absolute twcss-top-0 twcss-right-0 twcss-w-full twcss-h-full {{ versioneOverlay }}"
    autoplay
    loop
    muted
    playsinline
    height="100%"
    width="100%"
  >
    <source src="{{ section.settings.video_url }}" type="video/mp4">
  </video>
  <img
    class="overlay_sx"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/grafica_etnz_sx.png?v=1708513032"
    width="auto"
    height="100%"
    loading=""
  >
  <img
    class="overlay_dx"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/grafica_etnz_dx.png?v=1708513032"
    width="auto"
    height="100%"
    loading=""
  >
  <div class="container_next cn_sinistra {{ versioneOverlay }}">
    <h2 class="h1 italic twcss-uppercase line_h_h1">
      <span class="twcss-block">{{ section.settings.payoff_pt1 }}</span
      ><span class="twcss-block twcss-ml-20">{{ section.settings.payoff_pt2 }}</span
      ><span class="twcss-ml-4 twcss-block">{{ section.settings.payoff_pt3 }}</span>
    </h2>
    <h3 class="twcss-text-white">{{ section.settings.slogan }}</h3>
  </div>
  <div class="container_next cn_destra {{ versioneOverlay }}">
    <p class="label twcss-text-white">{{ section.settings.titoletto }}</p>
    <h3 class="twcss-text-white">{{ section.settings.titolo }}</h3>
    <p class="twcss-text-white">{{ section.settings.descrizione }}</p>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "ETNZ full-width video",
  "settings": [
    {
      "type": "text",
      "id": "payoff_pt1",
      "label": "Payoff pt1"
    },
    {
      "type": "text",
      "id": "payoff_pt2",
      "label": "Payoff pt2"
    },
    {
      "type": "text",
      "id": "payoff_pt3",
      "label": "Payoff pt3"
    },
    {
      "type": "text",
      "id": "slogan",
      "label": "Slogan"
    },
    {
      "type": "text",
      "id": "titoletto",
      "label": "Titoletto"
    },
    {
      "type": "text",
      "id": "titolo",
      "label": "Titolo"
    },
    {
      "type": "text",
      "id": "descrizione",
      "label": "Descrizione"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "URL del Video background"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "URL Immagine background"
    },
    {
      "type": "select",
      "id": "select_option",
      "label": "Versione",
      "options": [
        {
          "value": "versione_sx",
          "label": "Overlay a sinistra"
        },
        {
          "value": "versione_dx",
          "label": "Overlay a destra"
        }
      ],
      "default": "versione_sx"
    }
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Bottone con freccia",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Testo del bottone"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL del bottone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ETNZ full-width video",
      "category": "Custom"
    }
  ]
}
{% endschema %}
