{%- style -%}
#shopify-section-{{ section.id }} {
  position:relative;
  z-index 0;
}
{%- endstyle -%}

{{ 'next_etnz_event.css' | asset_url | stylesheet_tag }}

<div class="etnz-year page-width {% if section.settings.hideLines == true %}hideLines{% endif %}">
  <div class="content-area">
    {% if section.settings.line_1 != blank %}
      <span class="h1 italic font_v2 ultra">{{ section.settings.line_1 }}</span>
    {% endif %}
    {% if section.settings.line_2 != blank %}
      <span class="h1 italic font_v2 ultra">{{ section.settings.line_2 }}</span>
    {% endif %}
  </div>
</div>

<div
  id="{{ section.settings.anchor }}"
  class="etnz-event page-width {% if section.settings.text_position == 'right' %}text-on-right{% endif %} {% if section.settings.use_fullwidth == true %}fullwidth-banner{% endif %} {% if section.settings.line_1 != blank %}hasYear{% endif %}"
>
  <div class="frame_linea_visiva green_version event-border"></div>
  <div class="event-arrow"></div>
  <div class="text-column {% if section.settings.content_type == 'text' %}has-media-text{% endif %}">
    {% if section.settings.green_label != blank %}
      <div class="green-text label">{{ section.settings.green_label }}</div>
    {% endif %}
    {% if section.settings.white_label != blank %}
      <div class="label">{{ section.settings.white_label }}</div>
    {% endif %}
    {% if section.settings.title != blank %}
      <h2 class="main-title h2">{{ section.settings.title }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <div class="main-subtitle">{{ section.settings.subtitle }}</div>
    {% endif %}
    {% if section.settings.button_text != blank and section.settings.button_url != blank %}
      <a
        class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta"
        href="{{ section.settings.button_url }}"
        {% if block.settings.is_new_tab == true %}
          target="_blank"
        {% endif %}
      >
        {{ section.settings.button_text }}
        {% render 'icon-arrow-link-custom' -%}
      </a>
    {% endif %}
  </div>
  <div class="media-column {% if section.settings.content_type == 'img' or section.settings.content_type == 'video' %}is_media{% endif %}">
    {% if section.settings.content_type == 'img' -%}
      {%- if section.settings.image != blank -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag: width: section.settings.image.width, height: section.settings.image.height
        }}
      {%- endif -%}
    {%- elsif section.settings.content_type == 'video' -%}
      <iframe
        id="video_iframe_{{ section.id }}"
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/{{ section.settings.video_id }}?autoplay=1&mute=1&loop=1&origin=https://slam.com"
        frameborder="0"
        allow="autoplay; encrypted-media; loop;"
        allowfullscreen
      ></iframe>
    {%- else -%}
      {%- if section.settings.content != blank -%}
        <div class="main-content">{{ section.settings.content }}</div>
      {%- endif -%}
    {%- endif %}
  </div>
</div>

{% if section.settings.content_full != blank %}
  <div class="content-full-area page-width">
    <div class="content-full">
      {{ section.settings.content_full }}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "ETNZ - Sez. evento + anno",
  "tag": "section",
  "class": "section etnz-event-section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Sezione anno sulla sx (facoltativa)"
    },
    {
      "type": "text",
      "id": "line_1",
      "label": "Anno linea 1"
    },
    {
      "type": "text",
      "id": "line_2",
      "label": "Anno linea 2"
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    },
    {
      "type": "header",
      "content": "Contenuto colonna testuale"
    },
    {
      "type": "text",
      "id": "green_label",
      "label": "Etichetta verde"
    },
    {
      "type": "text",
      "id": "white_label",
      "label": "Etichetta bianca"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo sezione"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Sottotitolo sezione"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Testo bottone"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link bottone"
    },
    {
      "type": "checkbox",
      "id": "is_new_tab",
      "label": "Apri in una nuova scheda?"
    },
    {
      "type": "select",
      "id": "text_position",
      "options": [
        {
          "value": "left",
          "label": "Sinistra"
        },
        {
          "value": "right",
          "label": "Destra"
        }
      ],
      "label": "Posizione colonna testuale",
      "default": "left",
      "info": "Selezionando 'Destra' si ottengono due colonne uguali (50%-50%)."
    },
    {
      "type": "header",
      "content": "Contenuto colonna media"
    },
    {
      "type": "select",
      "id": "content_type",
      "options": [
        {
          "value": "img",
          "label": "Immagine"
        },
        {
          "value": "video",
          "label": "Video"
        },
        {
          "value": "text",
          "label": "Testo"
        }
      ],
      "label": "Quale contenuto vuoi mostrare?"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "checkbox",
      "id": "use_fullwidth",
      "label": "Usare immagine come sfondo della sezione?"
    },
    {
      "type": "text",
      "id": "video_id",
      "label": "Video ID (YouTube)"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo"
    },
    {
      "type": "text",
      "id": "anchor",
      "label": "Nome sezione",
      "info": "Nome della sezione per collegarla alla sezione timeline in cima alla pagina. Usare lo stesso nome, senza spazi, tutto minuscolo."
    },
    {
      "type": "richtext",
      "id": "content_full",
      "label": "Descrizione a larghezza intera",
      "info": "Viene visualizzata sotto alla sezione con sfondo verde."
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Sez. evento + anno",
      "category": "Custom"
    }
  ]
}
{% endschema %}
