{{ 'next_post_correlato.css' | asset_url | stylesheet_tag }}
{%- style -%}
  #shopify-section-{{ section.id }} {
    padding-top: clamp(40px, 5%, 80px);
    padding-bottom: clamp(40px, 5%, 80px);
  }
{%- endstyle -%}

<section
  class="section_post_correlato page-width"
>
  <h3 class="post_correlato_subtitle">
    <span>{{ section.settings.post_correlato_subtitle }}</span>
  </h3>
  <h2 class="h1 italic post_correlato_title">
    <span>{{ section.settings.post_correlato_title }}</span>
  </h2>
  <div class="post_correlato_box ">
    {% assign latest_posts = blogs['slam-stories'].articles %}
    {% assign articles_ids = ''
      | append: product.metafields.custom.articolo_correlato_01
      | append: ','
      | append: product.metafields.custom.articolo_correlato_2
      | append: ','
      | append: product.metafields.custom.articolo_correlato_3
      | append: ','
      | append: product.metafields.custom.articolo_correlato_4
    %}

    {% assign articles_array = articles_ids | split: ',' %}
    {% assign articolo_corrispondente = null %}

    {% capture blocco_articoli %}
      {% for articolo_id in articles_array %}

        <a href="{{ articolo_corrispondente.url }}" class="item_blog">
          {% if articolo_corrispondente.image %}
            <img
              width="auto"
              height="auto"
              src="{{ articolo_corrispondente.image.src | image_url }}"
              alt="{{ articolo_corrispondente.title | escape }}"
              loading="lazy"
            >
          {% endif %}
          <h4>{{ articolo_corrispondente.title }}</h4>
        </a>
      {% endfor %}
    {% endcapture %}

    {% if articles_array.size == 1 %}
      {{ blocco_articoli }}
      {% for article in latest_posts limit: 3 %}
        <a href="{{ article.url }}" class="item_blog">
          {% if article.image %}
            <img
              width="auto"
              height="auto"
              src="{{ article.image.src | image_url }}"
              alt="{{ article.title | escape }}"
              loading="lazy"
            >
          {% endif %}
          <h4>{{ article.title }}</h4>
        </a>
      {% endfor %}
    {% elsif articles_array.size == 2 %}
      {{ blocco_articoli }}
      {% for article in latest_posts limit: 2 %}
        <a href="{{ article.url }}" class="item_blog">
          {% if article.image %}
            <img
              width="auto"
              height="auto"
              src="{{ article.image.src | image_url }}"
              alt="{{ article.title | escape }}"
              loading="lazy"
            >
          {% endif %}
          <h4>{{ article.title }}</h4>
        </a>
      {% endfor %}
    {% elsif articles_array.size == 3 %}
      {{ blocco_articoli }}
      {% for article in latest_posts limit: 1 %}
        <a href="{{ article.url }}" class="item_blog">
          {% if article.image %}
            <img
              width="auto"
              height="auto"
              src="{{ article.image.src | image_url }}"
              alt="{{ article.title | escape }}"
              loading="lazy"
            >
          {% endif %}
          <h4>{{ article.title }}</h4>
        </a>
      {% endfor %}
    {% elsif articles_array.size == 4 %}
      {{ blocco_articoli }}
    {% else %}
      {% for article in latest_posts limit: 4 %}
        <a href="{{ article.url }}" class="item_blog">
          {% if article.image %}
            <img
              width="auto"
              height="auto"
              src="{{ article.image.src | image_url }}"
              alt="{{ article.title | escape }}"
              loading="lazy"
            >
          {% endif %}
          <h4>{{ article.title }}</h4>
        </a>
      {% endfor %}
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Sezione Blog Correlato",
  "settings": [
    {
      "type": "text",
      "id": "post_correlato_title",
      "label": "Titolo Blog Correlato"
    },
    {
      "type": "text",
      "id": "post_correlato_subtitle",
      "label": "Sub Titolo Blog Correlato"
    }
  ],
  "presets": [
    {
      "name": "Sezione Blog Correlato",
      "category": "Custom"
    }
  ]
}
{% endschema %}
