{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'next_related_product.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section_look_correlato {
    {% if product.selected_or_first_available_variant.metafields.custom.shopthelook.value != blank %}
      padding-top: clamp(40px, 5%, 80px);
    {% endif %}
    padding-bottom: 0;
  }
  .section_look_correlato .consegna {
    display: none !important;
  }
  .section_look_correlato h3.look_title {
    margin-bottom: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
{%- endstyle -%}

{%- liquid
  assign datalayer_collection_handle = 'shop_the_look'
  assign datalayer_collection_title = section.settings.heading | default: 'Shop the look'
-%}

<script type="application/javascript">
  window.datalayer_view_item_list['{{ datalayer_collection_handle }}'] = {
    name: '{{ datalayer_collection_title }}',
    items: [],
  };
</script>

<section
  id="shopify-section-{{ section.id }}"
  class="twcss-relative page-width section_look_correlato"
  data-id="{{ section.id }}"
>
  {% if product.selected_or_first_available_variant.metafields.custom.shopthelook.value != blank %}
    <h3 class="look_title">
      <span>{{ section.settings.look_title }}</span>
    </h3>
    {% assign numero_risultati = product.selected_or_first_available_variant.metafields.custom.shopthelook
      | split: ','
      | size
    %}
    <div class="look_correlato_box grid contains-card contains-card--product {% if numero_risultati < 4 %}menodi4{% elsif numero_risultati < 4 %}menodi3{% endif %}">
      {% for variant in product.selected_or_first_available_variant.metafields.custom.shopthelook.value %}
        <li class="grid__item">
          {% render 'card-product',
            card_product: variant.product,
            variant: variant,
            media_aspect_ratio: section.settings.image_ratio,
            image_shape: section.settings.image_shape,
            show_secondary_image: false,
            show_vendor: section.settings.show_vendor,
            show_rating: section.settings.show_rating,
            datalayer_collection_handle: datalayer_collection_handle
          %}
        </li>
      {% endfor %}
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Sezione Look Correlato",
  "settings": [
    {
      "type": "text",
      "id": "look_title",
      "label": "Titolo Look Correlato"
    }
  ],
  "presets": [
    {
      "name": "Sezione Look Correlato",
      "category": "Custom"
    }
  ]
}
{% endschema %}
