{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    overflow:hidden;
    {% if section.settings.larghezza == true %}
      width:33.333333%;
      display:inline-block;
    {% endif %}

    {% case section.settings.tipo_padding %}
      {% when 'no_padding' %}
        width:calc(33.333333% - ((clamp(30px, 4vw, 60px) * 2) / 3) - 4px);
      {% when 'padding_left' %}
        width:calc(33.333333% + clamp(30px, 4vw, 60px) - ((clamp(30px, 4vw, 60px) * 2) / 3));
      {% when 'padding_right' %}
        width:calc(33.333333% + clamp(30px, 4vw, 60px) - ((clamp(30px, 4vw, 60px) * 2) / 3));
    {% endcase %}
  }
  section.section_33 .card_home p {
    color: var(--color-bianco);
  }
  section.section_33 .card_home h3 {
    color: var(--color-bianco);
  }
  section.section_33 .card_home {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    gap:20px;
    position:relative;
    padding-bottom: 12.5vh;
    width:100%;
    height:100%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  section.section_33 .card_home video {
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height:100%;
  }
  section.section_33 .card_home img {
    position:absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height:100%;
    top:0;
    left:0;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} {
      width:100%;
      display:block;
    }
    section.section_33 .card_home {
      padding-right:90px!important;
    }
  }
  @media(min-width:1000px) {
    section.section_33 {
      padding-top: clamp(30px, 4vw, 60px);
      padding-bottom: clamp(30px, 4vw, 60px);
    }
    section.section_33.padding_left {
      padding-left: clamp(30px, 4vw, 60px);
    }
    section.section_33.padding_right {
      padding-right: clamp(30px, 4vw, 60px);
    }
    section.section_33.no_padding {
      border-left: solid #fff 2px;
      border-right: solid #fff 2px;
    }
  }
  section.section_33 .after_overlay::after {
      z-index:-1;
  }
  section.section_33  img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
{%- endstyle -%}

{% case section.settings.tipo_padding %}
  {% when 'no_padding' %}
    {% assign caratt_card = 'no_padding' %}
  {% when 'padding_left' %}
    {% assign caratt_card = 'padding_left' %}
  {% when 'padding_right' %}
    {% assign caratt_card = 'padding_right' %}
{% endcase %}

<section
  class="section_33 twcss-relative zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full width_33 {{ caratt_card }}"
>
  <div class="card_home after_overlay twcss-relative">
    <img src="{{ section.settings.img_url }}" width="1920" height="auto" alt="SLAM" loading="lazy">
    <video
      class="object-cover object-center twcss-absolute twcss-top-0 twcss-right-0 twcss-w-full twcss-h-full"
      autoplay
      loop
      muted
      playsinline
      height="100%"
      width="100%"
    >
      <source src="{{ section.settings.video_url }}" type="video/mp4">
    </video>

    <p class="label">{{ section.settings.titoletto }}</p>
    <h3 class="">{{ section.settings.titolo }}</h3>
    <p>{{ section.settings.descrizione }}</p>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Card 100/33",
  "settings": [
    {
      "type": "text",
      "id": "titolo",
      "label": "Titolo"
    },
    {
      "type": "text",
      "id": "titoletto",
      "label": "Sottotitolo"
    },
    {
      "type": "text",
      "id": "descrizione",
      "label": "Descrizione"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "URL del Video background"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "URL Immagine background"
    },
    {
      "type": "checkbox",
      "id": "larghezza",
      "label": "Larghezza 33% (SOLO con 3 sezioni affiancate)",
      "default": false
    },
    {
      "type": "select",
      "id": "tipo_padding",
      "label": "Tipo di Padding",
      "options": [
        {
          "value": "no_padding",
          "label": "Nessun Padding"
        },
        {
          "value": "padding_left",
          "label": "Padding Sinistra"
        },
        {
          "value": "padding_right",
          "label": "Padding Destra"
        }
      ],
      "default": "no_padding"
    }
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Bottone con freccia",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Testo del bottone"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL del bottone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card 100/33",
      "category": "Custom"
    }
  ]
}
{% endschema %}
