{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    overflow:hidden;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} .section_clean_video {
      background-position: 72%;
    }
  }

{%- endstyle -%}

<section
  id="section_clean_video"
  class="twcss-relative after_overlay zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full"
  style="background-image:url({{ section.settings.img_url }});"
>
  <video
    class="object-cover object-center twcss-absolute twcss-top-0 twcss-right-0 twcss-w-full twcss-h-full"
    autoplay
    loop
    muted
    playsinline
    height="100%"
    width="100%"
  >
    <source src="{{ section.settings.video_url }}" type="video/mp4">
  </video>
  <div class="container_next">
    <p class="label">{{ section.settings.titoletto }}</p>
    <h2 class="h1 italic twcss-uppercase line_h_h1">{{ section.settings.titolo }}</h2>
    <p>{{ section.settings.descrizione }}</p>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Clean full-width video",
  "settings": [
    {
      "type": "text",
      "id": "titolo",
      "label": "Titolo"
    },
    {
      "type": "text",
      "id": "titoletto",
      "label": "Sottotitolo"
    },
    {
      "type": "text",
      "id": "descrizione",
      "label": "Descrizione"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "URL del Video background"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "URL Immagine background"
    }
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Bottone con freccia",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Testo del bottone"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL del bottone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Clean full-width video",
      "category": "Custom"
    }
  ]
}
{% endschema %}
