{%- style -%}
  #shopify-section-{{ section.id }} #section_login_hero {
    padding-top:clamp(40px, 3.5vw, 60px);
    padding-left:10vh;
    padding-right:10vh;
    padding-bottom:clamp(40px, 3.5vw, 60px);
    background-color: var(--color-bg-grigio);
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} #section_login_hero {
      padding-left:2.5vh;
      padding-right:2.5vh;
    }
  }
  #shopify-section-{{ section.id }} #section_login_hero h1, 
  #shopify-section-{{ section.id }} #section_login_hero h2 {
    text-align:center;
    line-height:1;
  }
  #shopify-section-{{ section.id }} #section_login_hero h2 strong {
    font-family:Moderat-Black-italic_stancil,sans-serif;
    color:var(--color-turchese);
  }
  #shopify-section-{{ section.id }} #section_login_hero .colonna:hover h2 strong {
    color:var(--color-bianco);
    transition:all 300ms;
  }
  #shopify-section-{{ section.id }} #section_login_hero .colonne_box {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top:40px;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} #section_login_hero .colonne_box {
      flex-direction:column;
    }
  }
  #shopify-section-{{ section.id }} #section_login_hero .colonne_box .colonna {
    padding: clamp(20px, 3vw, 40px) clamp(40px, 3.5vw, 60px);
    background-color: var(--color-grigio);
  }
  #shopify-section-{{ section.id }} #section_login_hero .colonne_box .colonna:hover {
    background-color: var(--color-turchese);
    transition:all 300ms;
  }
  #shopify-section-{{ section.id }} .colonna a.btn_next {
    margin-top:20px;
    transform:translateY(0);
    transition:all 300ms;
  }
  #shopify-section-{{ section.id }} .colonna a.btn_next:hover {
    transform:translateY(-3px);
  }
  #shopify-section-{{ section.id }} .colonna:hover a.btn_next {
    color: var(--color-bianco);
    transition:all 300ms;
  }
  #shopify-section-{{ section.id }} .colonna:hover a.btn_next span.arrow  {
    color: var(--color-bianco);
    transition:all 300ms;

  }
{%- endstyle -%}

<section id="section_login_hero">
  <div class="page-width">
    <h1>{{ section.settings.login_hero_titolo}}</h1>
    <div class="colonne_box">
      <div class="colonna">
        <h2>{{ section.settings.login_hero_subtitolo01 }}</h2>
        <a class="btn_next" href="{{ section.settings.login_hero_link_url_01 }}" class="login-link">{{ section.settings.login_hero_link_testo_01 }} <span class="arrow">↗</span></a>
      </div>
      <div class="colonna">
        <h2>{{ section.settings.login_hero_subtitolo02 }}</h2>
        <a class="btn_next" href="{{ section.settings.login_hero_link_url_02 }}" class="login-link">{{ section.settings.login_hero_link_testo_02 }} <span class="arrow">↗</span></a>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Login - hero",
  "settings": [
    {
      "type": "text",
      "id": "login_hero_titolo",
      "label": "Titolo"
    },
    {
      "type": "text",
      "id": "login_hero_subtitolo01",
      "label": "SubTitolo 01"
    },
    {
      "type": "text",
      "id": "login_hero_link_testo_01",
      "label": "Link testo 01"
    },
    {
      "type": "url",
      "id": "login_hero_link_url_01",
      "label": "Link URL 01"
    },
    {
      "type": "text",
      "id": "login_hero_subtitolo02",
      "label": "SubTitolo 02"
    },
    {
      "type": "text",
      "id": "login_hero_link_testo_02",
      "label": "Link testo 02"
    },
    {
      "type": "url",
      "id": "login_hero_link_url_02",
      "label": "Link URL 02"
    }
  ],
  "presets": [
    {
      "name": "Login - hero",
      "category": "Custom"
    }
  ]
}
{% endschema %}