{{ 'next_etnz_image-banner.css' | asset_url | stylesheet_tag }}

<div
  id="Banner-{{ section.id }}"
  class="banner-container{% if section.settings.is_full_width == false %} page-width{% endif %}{% if section.settings.video_or_img == 'video' %} banner-video{% else %} banner-img{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %} {% if section.settings.hideLines == true %}hideLines{% endif %}"
>
  <a href="{{ section.settings.banner_link }}">
    <div class="media-container">
      {%- if section.settings.image != blank -%}
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag: width: section.settings.image.width, height: section.settings.image.height
        }}
      {%- endif -%}
      {% if section.settings.title != blank %}
        <div class="banner-overlay-area">
          {% if section.settings.white_label != blank %}
            <div class="label main-label">{{ section.settings.white_label }}</div>
          {% endif %}
          <h2 class="h2 main-title">
            {{ section.settings.title }}
          </h2>
        </div>
      {% endif %}
    </div>
  </a>
</div>

{% schema %}
{
  "name": "ETNZ - Banner img+link",
  "tag": "section",
  "class": "section etnz-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "checkbox",
      "id": "is_full_width",
      "default": true,
      "label": "Sezione a larghezza piena?"
    },
    {
      "type": "text",
      "id": "white_label",
      "label": "Etichetta bianca"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo sezione"
    },
    {
      "type": "url",
      "id": "banner_link",
      "label": "Link banner",
      "info": "Il link si attiva automaticamente su tutto il banner senza nessun bottone."
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Banner img+link"
    }
  ]
}
{% endschema %}
