{%- style -%}
#shopify-section-{{ section.id }} {
  margin-bottom:50px;
}
{%- endstyle -%}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}
{{ 'next_related_product.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}
{{ 'next_etnz_products_section.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign datalayer_collection_handle = 'related_products'
  assign datalayer_collection_title = section.settings.heading | default: 'Related Products'
  assign products_to_show = 4
-%}

<script type="application/javascript">
  window.datalayer_view_item_list['{{ datalayer_collection_handle }}'] = {
    name: '{{ datalayer_collection_title }}',
    items: [],
  };
</script>

<div class="etnz-products-area page-width no-js-hidden">
  <div class="frame_linea_visiva green_version event-border"></div>
  <div class="event-arrow"></div>
  <product-recommendations
    class="related-products section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit={{ products_to_show }}"
  >
    {% if section.settings.prod_list != blank %}
      <div class="intro-area">
        <div class="text-section">
          {% if section.settings.white_label != blank %}
            <div class="label">{{ section.settings.white_label }}</div>
          {% endif %}
          {% if section.settings.title != blank %}
            <h3 class="main-title h1 italic">{{ section.settings.title }}</h3>
          {% endif %}
        </div>
        {% if section.settings.button_text != blank and section.settings.button_url != blank %}
          <a
            class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta"
            href="{{ section.settings.button_url }}"
            {% if block.settings.is_new_tab == true %}
              target="_blank"
            {% endif %}
          >
            {{ section.settings.button_text }}
            {% render 'icon-arrow-link-custom' -%}
          </a>
        {% endif %}
      </div>

      <ul
        class="drag-scroll grid product-grid grid--4-col-desktop grid--2-col-tablet-down"
        role="list"
      >
        {% for product in section.settings.prod_list %}
          <li class="grid__item">
            {% render 'card-product',
              card_product: product,
              media_aspect_ratio: section.settings.image_ratio,
              image_shape: section.settings.image_shape,
              show_secondary_image: section.settings.show_secondary_image,
              show_vendor: section.settings.show_vendor,
              show_rating: section.settings.show_rating,
              datalayer_collection_handle: datalayer_collection_handle
            %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </product-recommendations>
  <div class="custom-container text-section-container ">
    <div class="single-paragraph one-col">
        <h3 class="paragraph-title default-color">
          {{ section.settings.under_titolo }}
        </h3>
        <div class="paragraph-content">
            <div class="content">
              <p>{{ section.settings.under_desc }}</p>
            </div>
        </div>
    </div>
  
</div>
</div>

{% schema %}
{
  "name": "ETNZ - Sezione prodotti",
  "tag": "section",
  "class": "section etnz-products-section",
  "settings": [
    {
      "type": "text",
      "id": "white_label",
      "label": "Etichetta bianca"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo sezione"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Testo bottone"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link bottone"
    },
    {
      "type": "checkbox",
      "id": "is_new_tab",
      "label": "Apri in una nuova scheda?"
    },
    {
      "type": "product_list",
      "id": "prod_list",
      "label": "Prodotti da mostrare",
      "limit": 4
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    },
    {
      "type": "text",
      "id": "under_titolo",
      "label": "Titolo Par sotto"
    },
    {
      "type": "richtext",
      "id": "under_desc",
      "label": "Descrizione Par sotto"
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Sezione prodotti",
      "category": "Custom"
    }
  ]
}
{% endschema %}
