{{ 'next_etnz_text_section.css' | asset_url | stylesheet_tag }}

<div class="etnz-text-section-container custom-container text-section-container {% if section.settings.hideLines == true %}hideLines{% endif %}">
  <div class="single-paragraph two-col {% if section.settings.image != blank %}has-image{% endif %}">
    <div class="intro-area">
      {% if section.settings.green_label != blank %}
        <div class="green-text label">{{ section.settings.green_label }}</div>
      {% endif %}
      {% if section.settings.white_label != blank %}
        <div class="label">{{ section.settings.white_label }}</div>
      {% endif %}
      {% if section.settings.title != blank %}
        <h3 class="paragraph-title {{ section.settings.variant_color }}-color {% if section.settings.h2_text == true %}h2{% endif %}">
          {{ section.settings.title }}
        </h3>
      {% endif %}
      {% if section.settings.button_text != blank and section.settings.button_url != blank %}
        <a
          class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta text-cta-desk"
          href="{{ section.settings.button_url }}"
          {% if section.settings.is_new_tab == true %}
            target="_blank"
          {% endif %}
        >
          {{ section.settings.button_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    </div>
    {% if section.settings.image != blank %}
      <div class="image-area {% if section.settings.video_url %}has_video{% endif %}">
        {{
          section.settings.image
          | image_url: width: 3200
          | image_tag: widths: '1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', class: 'image'
        }}
        {% if section.settings.video_url %}
          <video
            class="object-cover object-center twcss-absolute twcss-top-0 twcss-left-0 twcss--z-1 twcss-w-full twcss-h-full"
            autoplay
            loop
            muted
            playsinline
            height="100%"
            width="100%"
          >
            <source src="{{ section.settings.video_url }}" type="video/mp4">
          </video>
        {% endif %}

      </div>
    {% endif %}
    {% if section.settings.content != blank %}
      {% assign words = section.settings.content | strip_html | split: ' ' | size %}
      <div class="paragraph-content">
        {% if words > 100 and section.settings.truncate_text == true %}
          <div
            id="preview_content_{{ block.id }}"
            class="content"
          >
            {{ section.settings.content | slice: 0, 500 -}}
            ...
          </div>
          <div id="full_content_{{ block.id }}" class="full content" style="display: none;">
            {{ section.settings.content }}
          </div>
          <button id="btnId__{{ block.id }}" class="showFullContent">Read more</button>
        {% else %}
          <div class="content">{{ section.settings.content }}</div>
        {% endif %}
        {% if section.settings.button_text != blank and section.settings.button_url != blank %}
          <a
            class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta text-cta-mob"
            href="{{ section.settings.button_url }}"
            {% if section.settings.is_new_tab == true %}
              target="_blank"
            {% endif %}
          >
            {{ section.settings.button_text }}
            {% render 'icon-arrow-link-custom' -%}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "ETNZ - Sezione testuale",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "video_url",
      "label": "Url Video (colonna centrale)"
    },
    {
      "type": "text",
      "id": "green_label",
      "label": "Etichetta verde"
    },
    {
      "type": "text",
      "id": "white_label",
      "label": "Etichetta bianca"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titolo"
    },
    {
      "type": "checkbox",
      "id": "h2_text",
      "label": "Titolo più grande?"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Testo bottone"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Link bottone"
    },
    {
      "type": "checkbox",
      "id": "is_new_tab",
      "label": "Apri in una nuova scheda?"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Testo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Immagine"
    },
    {
      "type": "select",
      "id": "variant_color",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "green",
          "label": "Green"
        }
      ],
      "label": "Variante colore",
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "truncate_text",
      "label": "Taglia testo a 100 parole?"
    },
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Sezione testuale"
    }
  ]
}
{% endschema %}
