{%- style -%}
  #shopify-section-{{ section.id }} {
      position: fixed;
      top: calc(100vh - 135px);
      right: 40px;
      z-index:9999;
      transition: all 300ms ease-in-out;
  }
  #shopify-section-{{ section.id }}.nascondi {
      right: -400px;
  }
{%- endstyle -%}

<a class="white_widget" href="{{ section.settings.url_widget }}">
  <div class="widget_top">
    <div>
      <h2>{{ section.settings.txt_1 }}</h2>
    </div>
    <div>
      <p class="label">{{ section.settings.txt_2 }}</p>
    </div>
    {% render 'icon-arrow-link-custom' %}
  </div>
  <div class="widget_bottom">
    <h5>{{ section.settings.txt_3 }}</h5>
  </div>
</a>

{% schema %}
{
  "name": "Widget",
  "settings": [
    {
      "type": "text",
      "id": "txt_1",
      "label": "Testo 1"
    },
    {
      "type": "text",
      "id": "txt_2",
      "label": "Testo 2"
    },
    {
      "type": "text",
      "id": "txt_3",
      "label": "Testo 3"
    },
    {
      "type": "url",
      "id": "url_widget",
      "label": "URL del widget"
    }
  ],
  "presets": [
    {
      "name": "Widget",
      "category": "Custom"
    }
  ]
}
{% endschema %}
