{{ 'next_timeline.css' | asset_url | stylesheet_tag }}
{{ 'next_art_text-section.css' | asset_url | stylesheet_tag }}
{{ 'next_art_image-banner.css' | asset_url | stylesheet_tag }}

<div class="timeline-section page-width drag-scroll {% if section.settings.hideLines == true %}hideLines{% endif %}">
  {% for block in section.blocks -%}
    {% if block.type == 'event' %}
      <div class="event-card {% if block.settings.event_anchor != blank %}active{% endif %}">
        {% if block.settings.event_anchor != blank -%}
          <a href="#{{ block.settings.event_anchor }}" class="event-anchor event-info-container">
        {% else %}
          <div class="event-info-container">
        {%- endif %}
        {% render 'icon_slash_slim' %}
        {% if block.settings.start_date != blank and block.settings.start_date_month != blank %}
          <div class="event-date">
            <div class="start-date">
              <span class="number-date h1 italic green-text">{{ block.settings.start_date }}</span><br>
              <span class="month-date h2 italic green-text">{{ block.settings.start_date_month }}</span>
            </div>
            {% if block.settings.end_date != blank and block.settings.end_date_month != blank %}
              <span class="separator h1 italic green-text">-</span>
              <div class="end-date">
                <span class="number-date h1 italic green-text">{{ block.settings.end_date }}</span><br>
                <span class="month-date h2 italic green-text">{{ block.settings.end_date_month }}</span>
              </div>
            {% endif %}
          </div>
        {% endif %}
        {% if block.settings.event_title != blank %}
          <div class="event-title">
            <span>
              {{ block.settings.event_title }}
            </span>
          </div>
        {% endif %}
        {% if block.settings.event_anchor != blank %}</a>{% else %}</div>{% endif %}
      </div>
    {% endif %}
  {%- endfor %}
</div>

{% for block in section.blocks -%}
  {% case block.type %}
    {% when 'paragraph' %}
      <div class="custom-container text-section-container {% if section.settings.hideLines == true %}hideLines{% endif %}">
        <div class="single-paragraph{% if block.settings.columns == '2' and block.settings.title != blank %} two-col {% if block.settings.misura_1_1 == true %}misura_1_1{% endif %}{% else %} one-col{% endif %}">
          {% if block.settings.green_label != blank %}
            <div class="green-text label">{{ block.settings.green_label }}</div>
          {% endif %}
          {% if block.settings.white_label != blank %}
            <div class="label">{{ block.settings.white_label }}</div>
          {% endif %}
          <div class="titolo_par_container">
          {% if block.settings.title != blank %}
              <h3 class="paragraph-title {{ block.settings.variant_color }}-color {% if block.settings.h2_text == true %}h2{% endif %}">
                {{ block.settings.title }}
              </h3>
          {% endif %}

          {% if block.settings.paragraph_image != blank  %}
            {% assign paragraph_image_path = block.settings.paragraph_image | image_url | split: '?' | first %}
            {% if paragraph_image_path %}
              {% assign paragraph_image_url = 'https:' | append: paragraph_image_path %}
              <img src="{{ paragraph_image_url }}" alt="SLAM | Immagine del paragrafo" />
            {% endif %}
          {% endif %}
          </div>

          {% if block.settings.content != blank %}
            {% assign words = block.settings.content | strip_html | split: ' ' | size %}
            <div class="paragraph-content">
              {% if words > 100 and block.settings.truncate_text == true %}
                <div
                  id="preview_content_{{ block.id }}"
                  class="content"
                >
                  {{ block.settings.content | slice: 0, 500 -}}
                  ...
                </div>
                <div id="full_content_{{ block.id }}" class="full content" style="display: none;">
                  {{ block.settings.content }}
                </div>
                <button id="btnId__{{ block.id }}" class="showFullContent">Read more</button>
              {% else %}
                <div class="content">{{ block.settings.content }}</div>
              {% endif %}
              {% if block.settings.button_text != blank and block.settings.button_url != blank %}
                <a
                  class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center text-cta"
                  href="{{ block.settings.button_url }}"
                  {% if block.settings.is_new_tab == true %}
                    target="_blank"
                  {% endif %}
                >
                  {{ block.settings.button_text }}
                  {% render 'icon-arrow-link-custom' -%}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    {% when 'image' %}
      <div
        id="Banner-{{ section.id }}"
        class="banner-container page-width banner-img{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      >
        <div class="media-container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 3840
              | image_tag: width: block.settings.image.width, height: block.settings.image.height
            }}
          {%- endif -%}
        </div>
      </div>
  {% endcase %}
{%- endfor %}

{% schema %}
{
  "name": "ETNZ - Timeline + intro",
  "tag": "section",
  "class": "section timeline-and-intro",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "hideLines",
      "label": "Nascondi le linee sulla sx?"
    }
  ],
  "blocks": [
    {
      "type": "event",
      "name": "Evento",
      "settings": [
        {
          "type": "text",
          "id": "start_date",
          "label": "Data di inizio",
          "info": "Specificare solo il numero. Ad esempio: 14. Per i numeri da una cifra inserire prima lo 0."
        },
        {
          "type": "text",
          "id": "start_date_month",
          "label": "Mese di inizio",
          "info": "Specificare solo le prime 3 lettere del mese. Ad esempio: NOV per Novembre."
        },
        {
          "type": "text",
          "id": "end_date",
          "label": "Data di fine",
          "info": "Specificare solo il numero. Ad esempio: 14. Per i numeri da una cifra inserire prima lo 0."
        },
        {
          "type": "text",
          "id": "end_date_month",
          "label": "Mese di fine",
          "info": "Specificare solo le prime 3 lettere del mese. Ad esempio: NOV per Novembre."
        },
        {
          "type": "text",
          "id": "event_title",
          "label": "Nome evento"
        },
        {
          "type": "text",
          "id": "event_anchor",
          "label": "Ancora sezione",
          "info": "Specificare il nome della sezione che si vuole collegare senza spazi tutto minuscolo. Inserire lo stesso nome anche nella sezione. Ad esempio: womensamericascup."
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragrafo",
      "settings": [
        {
          "type": "image_picker",
          "id": "paragraph_image",
          "label": "Immagine del Paragrafo"
        },
        {
          "type": "checkbox",
          "id": "misura_1_1",
          "label": "Misura colonne",
          "default": false,
          "info": "Se attivo, il rapporto delle colonne sarà 1/1 (non funziona con paragrafo da 1 colonna)"
        },
        {
          "type": "text",
          "id": "green_label",
          "label": "Etichetta verde"
        },
        {
          "type": "text",
          "id": "white_label",
          "label": "Etichetta bianca"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Titolo (facoltativo)"
        },
        {
          "type": "checkbox",
          "id": "h2_text",
          "label": "Titolo più grande?"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Testo (facoltativo)"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Testo bottone"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Link bottone"
        },
        {
          "type": "checkbox",
          "id": "is_new_tab",
          "label": "Apri in una nuova scheda?"
        },
        {
          "type": "select",
          "id": "variant_color",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "green",
              "label": "Green"
            }
          ],
          "label": "Variante colore",
          "default": "default"
        },
        {
          "type": "select",
          "id": "columns",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ],
          "label": "Colonne"
        },
        {
          "type": "checkbox",
          "id": "truncate_text",
          "label": "Taglia testo a 100 parole?"
        }
      ]
    },
    {
      "type": "image",
      "name": "Immagine",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Immagine",
          "info": "Inserire una sola immagine."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "ETNZ - Timeline + intro",
      "category": "Custom"
    }
  ]
}
{% endschema %}
