{%- style -%}
{%- endstyle -%}

{% assign mainMenu = linklists['main-menu'].links %}
{% assign shopItem = mainMenu[0] %}
{% assign exploreItem = mainMenu[1] %}
{% assign shopItemsSub = shopItem.links %}
{% assign exploreItemsSub = exploreItem.links %}

{% assign discoverMenu = linklists['menu-principale-discover'] %}
{% assign sezGrigiaMenu = linklists['menu-principale-sezione-grigia'] %}
{% assign productsMenu = linklists['menu-principale-products'] %}
{% assign etnzMenu = linklists['menu-principale-etnz-collections'] %}

{% assign ultimi_articoli = blogs['slam-stories'].articles %}
{% assign blog_url = blogs['slam-stories'].url %}

{% liquid
  assign current_language = request.locale.iso_code
  assign dummy_price = 0 | money_with_currency
  assign current_currency = dummy_price | replace: '0', '' | replace: '.', '' | replace: ',', '' | strip
  assign current_currency_code = current_currency | split: ' ' | last

  case current_language
    when 'it'
      assign lang_text = 'IT'
      assign lang_label = 'Lingua'
      assign currency_label = 'Valuta'
      assign lang_descr = 'Seleziona la lingua'
      assign tutti_i_prodotti = 'tutti i prodotti'
      assign switch = '/it'
    when 'en'
      assign lang_text = 'EN'
      assign lang_label = 'Language'
      assign currency_label = 'Currency'
      assign lang_descr = 'Select your language'
      assign tutti_i_prodotti = 'all products'
      assign switch = ''
    when 'fr'
      assign lang_text = 'FR'
      assign lang_label = 'Langue'
      assign currency_label = 'Devise'
      assign lang_descr = 'Choisissez votre langue'
      assign tutti_i_prodotti = 'tous les produits'
      assign switch = '/fr'
    when 'es'
      assign lang_text = 'ES'
      assign lang_label = 'Idioma'
      assign currency_label = 'Divisa'
      assign lang_descr = 'Select your language'
      assign tutti_i_prodotti = 'todos los productos'
      assign switch = '/es'
    when 'de'
      assign lang_text = 'DE'
      assign lang_label = 'Sprache'
      assign currency_label = 'Währung'
      assign lang_descr = 'Wähle deine Sprache'
      assign tutti_i_prodotti = 'alle Produkte'
      assign switch = '/de'
    else
      assign lang_text = 'EN'
      assign lang_label = 'Language'
      assign currency_label = 'Currency'
      assign lang_descr = 'Select your language'
      assign tutti_i_prodotti = 'all products'
      assign switch = ''
  endcase
%}

<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

<!-- SEARCH WIDGET -->
<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

<!-- LANG WIDGET -->
<div class="lang_switch desktop-localization-wrapper page-width">
  <p class="close">×</p>
  <h3>{{ lang_descr }}</h3>

  {%- if localization.available_countries.size > 1 -%}
    <noscript>
      {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
        <div class="localization-form__select">
          <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">
            {{ 'localization.country_label' | t }}
          </h2>
          <select
            class="localization-selector link"
            name="country_code"
            aria-labelledby="HeaderCountryMobileLabelNoScript"
          >
            {%- for country in localization.available_countries -%}
              <option
                value="{{ country.iso_code }}"
                {%- if country.iso_code == localization.country.iso_code %}
                  selected
                {% endif %}
              >
                {{ country.name }} ({{ country.currency.iso_code }}
                {{ country.currency.symbol }})
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
      {%- endform -%}
    </noscript>

    <localization-form>
      {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
        <div>
          <p>{{ currency_label }}</p>
          <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
          {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
        </div>
      {%- endform -%}
    </localization-form>
  {% endif %}

  {%- if localization.available_languages.size > 1 -%}
    <noscript>
      {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
        <div class="localization-form__select">
          <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">
            {{ 'localization.language_label' | t }}
          </h2>
          <select
            class="localization-selector link"
            name="locale_code"
            aria-labelledby="HeaderLanguageMobileLabelNoScript"
          >
            {%- for language in localization.available_languages -%}
              <option
                value="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                {%- if language.iso_code == localization.language.iso_code %}
                  selected
                {% endif %}
              >
                {{ language.endonym_name | capitalize }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
        <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
      {%- endform -%}
    </noscript>

    <localization-form>
      {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
        <div>
          <p>{{ lang_label }}</p>
          <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
          {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
        </div>
      {%- endform -%}
    </localization-form>
  {%- endif -%}
</div>

<header class="section-header page-width">
  <div class="icone_main">
    <a href="{{switch}}/account">{% render 'icon-utente_custom' %}</a>
    <a class="lang_switch_btn"> {{ current_currency }} | {{ lang_text }} </a>
    {% unless customer.b2b? %}
      {% comment %}
      {% if section.settings.attiva_sales == true and current_currency_code != 'GBP' %}
      {% endcomment %}
           {% if section.settings.attiva_sales == true %}
        <a href="{{ section.settings.url_sales }}" class="sales">{{ section.settings.testo_sales }}</a>
    
      {% endif %}
    {% endunless %}
  </div>
  <div class="desk_nav_ctrl">
    <nav>
      <ul class="level_1">
        <li class="mo mobile_menu_btn">
          <div class="menu-icon_custom">
            <input class="menu-icon__cheeckbox" type="checkbox">
            <div>
              <span></span>
              <span></span>
            </div>
          </div>
          <p>Menu</p>
        </li>
        <li class="mo">
          <a href="{{ blog_url }}">
            {% render 'icon-bussola02' %}
            <p>Stories</p>
          </a>
        </li>
        <li>
          <a {% if shopItemsSub[0].url contains '#' %}{% else %}href="{{ shopItemsSub[0].url }}"{% endif %}>{{ shopItemsSub[0].title }}</a>
          <div class="level_2">
            <div class="sez_grigia">
              {% for link in sezGrigiaMenu.links %}
                <div class="collection_items">
                  <a class="cat_main">{{ link.title }}</a>
                  {% if linklists[link.handle] %}
                    {% for child_link in linklists[link.handle].links %}
                      {% if child_link.title != 'FIV' or localization.country.iso_code == 'IT' %}
                        <a class="cat_sub" href="{{ child_link.url }}">{{ child_link.title }}</a>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
              <div class="collection_items">
                {% if section.settings.attiva_outlet == true %}
                  <a href="{{ section.settings.url_outlet }}" class="outlet">{{ section.settings.testo_outlet }}</a>
                {% endif %}
                {% if section.settings.url_createyouroutfit == true %}
                  <a class="special_cat" href="{{ section.settings.url_createyouroutfit }}">
                    CREATE<br>
                    YOUR<br>
                    OUTFIT
                  </a>
                {% endif %}
                {% if section.settings.tutti_i_prodotti_url %}
                  <a
                    href="{{ section.settings.tutti_i_prodotti_url }}"
                    style="text-transform:uppercase;"
                    class="special_cat"
                  >
                    {{ tutti_i_prodotti }}
                  </a>
                {% endif %}
              </div>
            </div>
            <div class="sez_bianca product">
              {% for link in productsMenu.links %}
                <div class="collection_items">
                  <a href="{{ link.url }}" class="cat_main">{{ link.title }}</a>
                  {% if linklists[link.handle] %}
                    {% for child_link in linklists[link.handle].links %}
                      <a class="cat_sub" href="{{ child_link.url }}">{{ child_link.title }}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="sez_links">
              <a href="{{ section.settings.url_col01 }}" class="sez_mega_link">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col01 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col01 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col01 }}</h3>
              </a>
              <a href="{{ section.settings.shop_by_need_url }}" class="sez_mega_link shop_by_link shop_by_need">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col02_001 | image_url: width: 1200 }}"
                  alt="{{ section.settings.txt_col02_001 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col02_001 }}</h3>
                <p class="shop_desc">{{ section.settings.shop_by_need_description }}</p>
              </a>
              <a href="{{ section.settings.shop_by_layer_url }}" class="sez_mega_link shop_by_link shop_by_layer">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col02_002 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col02_002 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col02_002 }}</h3>
                <p class="shop_desc">{{ section.settings.shop_by_layer_description }}</p>
              </a>
              <a href="{{ section.settings.url_col03 }}" class="sez_mega_link">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col03 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col03 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col03 }}</h3>
              </a>
            </div>
          </div>
        </li>
        <li>
          <a {% if shopItemsSub[1].url contains '#' %}{% else %}href="{{ shopItemsSub[1].url }}"{% endif %}>{{ shopItemsSub[1].title }}</a>
          <div class="level_2 activities">
            <div class="sez_grigia">
              {% for link in sezGrigiaMenu.links %}
                <div class="collection_items">
                  <a href="{{ link.url }}" class="cat_main">{{ link.title }}</a>
                  {% if linklists[link.handle] %}
                    {% for child_link in linklists[link.handle].links %}
                      <a class="cat_sub" href="{{ child_link.url }}">{{ child_link.title }}</a>
                    {% endfor %}
                  {% endif %}
                </div>
              {% endfor %}
            </div>
            <div class="sez_bianca">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'activities' %}
                    <a href="{{ block.settings.url_activities }}" class="icona_benefits">
                      {{ block.settings.icona_activities | image_url: width: 50 | image_tag }}
                      <p>{{ block.settings.txt_activities }}</p>
                    </a>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="sez_links">
              <a href="{{ section.settings.url_col01 }}" class="sez_mega_link">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col01 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col01 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col01 }}</h3>
              </a>
              <a href="{{ section.settings.shop_by_need_url }}" class="sez_mega_link shop_by_link shop_by_need">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col02_001 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col02_001 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col02_001 }}</h3>
                <p class="shop_desc">{{ section.settings.shop_by_need_description }}</p>
              </a>
              <a href="{{ section.settings.shop_by_layer_url }}" class="sez_mega_link shop_by_link shop_by_layer">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col02_002 | image_url: width: 1200 }}"
                  alt="{{ section.settings.txt_col02_002 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col02_002 }}</h3>
                <p class="shop_desc">{{ section.settings.shop_by_need_description }}</p>
              </a>
              <a href="{{ section.settings.url_col03 }}" class="sez_mega_link">
                <img
                  loading="lazy"
                  width="{{ image.width }}"
                  height="{{ image.height }}"
                  src="{{ section.settings.img_col03 | image_url: width: 1000 }}"
                  alt="{{ section.settings.txt_col03 }}"
                >
                <h3 class="italic">{{ section.settings.txt_col03 }}</h3>
              </a>
            </div>
          </div>
        </li>
        <li>
          <a {% if shopItemsSub[2].url contains '#' %}{% else %}href="{{ shopItemsSub[2].url }}"{% endif %}>{{ shopItemsSub[2].title }}</a>
          <div class="level_2 etnz">
            <div class="sez_bianca">
              <div>
                <h2 style="line-height: .9!important;" class="twcss-text-b italic">
                  <span class="twcss-block">PROUD</span>
                  <span class="twcss-block twcss-ml-10">TO BE</span>
                  <span class="twcss-block">ON BOARD</span>
                </h2>
                {% for link in etnzMenu.links %}
                  <div class="collection_items">
                    <a rel="nofollow" href="{{ link.url }}" class="cat_main">{{ link.title }}</a>
                    {% if linklists[link.handle] %}
                      {% for child_link in linklists[link.handle].links %}
                        <a rel="nofollow" class="cat_sub" href="{{ child_link.url }}">{{ child_link.title }}</a>
                      {% endfor %}
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              <div class="feed_articoli_etnz">
                {% assign articolo = section.settings.articolo_main_etnz %}
                {% if articolo %}
                  <a href="{{ articolo.url }}" class="articolo hover_thumb_articolo">
                    <img
                      src="{{ articolo.image.src | image_url: width:1000 }}"
                      alt="{{ articolo.title }}"
                      loading="lazy"
                      width="{{ articolo.image.width }}"
                      height="{{ articolo.image.height }}"
                    >
                    <h4>{{ articolo.title }}</h4>
                  </a>
                {% endif %}

                {% assign articolo = section.settings.articolo_02_etnz %}
                {% if articolo %}
                  <a href="{{ articolo.url }}" class="articolo hover_thumb_articolo">
                    <img
                      src="{{ articolo.image.src | image_url: width: 1000 }}"
                      alt="{{ articolo.title }}"
                      loading="lazy"
                      width="{{ articolo.image.width }}"
                      height="{{ articolo.image.height }}"
                    >
                    <h4>{{ articolo.title }}</h4>
                  </a>
                {% endif %}
              </div>
            </div>
            <div class="sez_links">
              <a href="{{ section.settings.link_url }}" class="sez_mega_link after_overlay">
                {% if section.settings.url_video_etnz %}
                  <video
                    src="{{ section.settings.url_video_etnz }}"
                    autoplay
                    loop
                    muted
                    playsinline
                    width=""
                    height=""
                    preload="auto"
                  ></video>
                {% else %}
                  <img
                    loading="lazy"
                    width=""
                    height=""
                    src="{{ section.settings.img_etnz | image_url: width: 1200 }}"
                    alt="{{ section.settings.txt_etnz }}"
                  >
                {% endif %}
                <h3>{{ section.settings.txt_etnz }}</h3>
                <a
                  class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center"
                  href="{{ section.settings.link_url }}"
                >
                  {{ section.settings.link_text }}
                  {% render 'icon-arrow-link-custom' -%}
                </a>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <div id="logo_main">
      {% assign current_language = request.locale.iso_code %}
      {% if section.settings.logo %}
        <a href="{{ shop.url }}{% if current_language != 'en'%}/{{ current_language }}{% endif %}">
          {{- section.settings.logo | image_url: width: 200 | image_tag -}}
        </a>
      {% else %}
        <a href="{{ shop.url }}{% if current_language != 'en'%}/{{ current_language }}{% endif %}">
          {%- render 'logo_slam' -%}
        </a>
      {% endif %}
    </div>
    <nav>
      <ul class="level_1">
        <li class="mo">
          <a href="/search">
            {% render 'icon-cerca_custom' %}
            <p>Search</p>
          </a>
          {%- liquid
            if section.settings.menu != blank
              render 'header-drawer'
            endif

            if section.settings.logo_position == 'top-center' or section.settings.menu == blank
              render 'header-search', input_id: 'Search-In-Modal-1'
            endif
          -%}
        </li>
        <li class="mo">
          <a
            href="{{ routes.cart_url }}"
            class="header__icon header__icon--cart focus-inset"
            id="cart-icon-bubble"
          >
            {%- liquid
              if cart == empty
                render 'icon-carrello_custom'
              else
                render 'icon-carrello_custom'
              endif
            -%}
            <p>Cart</p>
            <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
            {%- if cart != empty -%}
              <div class="cart-count-bubble">
                {%- if cart.item_count < 100 -%}
                  <span aria-hidden="true">{{ cart.item_count }}</span>
                {%- endif -%}
                <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
              </div>
            {%- endif -%}
          </a>
        </li>
        <li>
          <a {% if exploreItemsSub[0].url contains '#' %}{% else %}href="{{ exploreItemsSub[0].url }}"{% endif %}>{{ exploreItemsSub[0].title }}</a>
        </li>
        <li>
          <a {% if exploreItemsSub[1].url contains '#' %}{% else %}href="{{ exploreItemsSub[1].url }}"{% endif %}>{{ exploreItemsSub[1].title }}</a>
        </li>
        <li>
          <a {% if exploreItemsSub[2].url contains '#' %}{% else %}href="{{ exploreItemsSub[2].url }}"{% endif %}>{{ exploreItemsSub[2].title }}</a>
          <div class="level_2 discover">
            <div class="sez_grigia">
              {% if discoverMenu %}
                <div class="collection_items">
                  {% for menuItem in discoverMenu.links %}
                    <a class="cat_main" href="{{ menuItem.url }}">{{ menuItem.title }}</a>
                    {% if menuItem.links.size > 0 %}
                      <div class="submenu">
                        {% for subMenuItem in menuItem.links %}
                          <a class="cat_sub" href="{{ subMenuItem.url }}">{{ subMenuItem.title }}</a>
                        {% endfor %}
                      </div>
                    {% endif -%}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="sez_bianca">
              {% assign counter = 0 %}
              {% for articolo in ultimi_articoli %}
                {% if counter < 7 %}
                  <a
                    href="{{ articolo.url }}"
                    class="articolo hover_thumb_articolo {% if articolo.tags contains 'Tag_di_prova' %}special_view{% endif %}"
                  >
                    <img
                      src="{{ articolo.image.src | image_url: width: 400 }}"
                      alt="{{ articolo.image.alt | escape }}"
                      loading="lazy"
                      width="{{ articolo.image.width }}"
                      height="{{ articolo.image.height }}"
                    >
                    {% if articolo.tags contains 'Tag_di_prova' %}
                    {% endif %}
                    <h4>{{ articolo.title }}</h4>
                  </a>
                  {% assign counter = counter | plus: 1 %}
                {% else %}
                  {% break %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="icone_main">
    <!-- <a href="/search">{% # render 'icon-cerca_custom' %}</a> -->
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}
    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
      {%- liquid
        if cart == empty
          render 'icon-carrello_custom'
        else
          render 'icon-carrello_custom'
        endif
      -%}
      <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
      {%- if cart != empty -%}
        <div class="cart-count-bubble">
          {%- if cart.item_count < 100 -%}
            <span aria-hidden="true">{{ cart.item_count }}</span>
          {%- endif -%}
          <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        </div>
      {%- endif -%}
    </a>
  </div>
  <div class="mo" id="shop_menu">
    <div class="shop_btn">
      <a href="{{switch}}/pages/emirates-team-new-zealand" class="btn_etnz">
        {% render 'icon-etnz' %}
        <p>ETNZ</p>
      </a>
      <div class="lato_box lato_shop">
        {% render 'icon-giacca' %}
        <p>Shop</p>
      </div>
      <div class="lato_box lato_chiuso">
        {% render 'icon-chiudi' %}
        <!-- <p>Close</p> -->
      </div>
    </div>
    <div class="close shop_sez_bianca_mo">
      <div class="scroll_sub_menu_box">
        <div class="scroll_sub_menu">
          <a class="btn_products active">{{ shopItemsSub[0].title }}</a>
          <a class="btn_activities">{{ shopItemsSub[1].title }}</a>
        </div>
      </div>
      <div class="sub_menu_risultati">
        {% assign shop_menu = menus['shop-menu'] %}
        {% assign product_item = shop_menu.links[0] %}

        <div class="box_risultati risultati_products active">
          <div class="box_risultati_interno product_interno">
            {% for product_sub_item in product_item.links %}
              <div class="collection_items">
                <a
                  class="cat_main {% if product_sub_item.links.size > 0 %}has_childs{% endif %}"
                  href="{{ product_sub_item.url }}"
                >
                  {{ product_sub_item.title }}
                  {% if product_sub_item.links.size > 0 %}
                    {%- render 'icon_freccia-menu' -%}
                  {% endif %}
                </a>
                {% if product_sub_item.links.size > 0 %}
                  <div>
                    <div class="scroll_sub_menu inner_sub_menu">
                      <a class="btn_inner_sub_menu">
                        <span>{{ product_item.title }}</span>
                        {%- render 'icon_freccia-menu' -%}
                      </a>
                    </div>
                    {% for product_sub_sub_item in product_sub_item.links %}
                      <a class="cat_sub" href="{{ product_sub_sub_item.url }}">{{ product_sub_sub_item.title }}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="box_risultati risultati_activities">
          <div class="box_risultati_interno">
            <div class="collection_items">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'activities' %}
                    <a class="cat_main" href="{{ block.settings.url_activities }}">
                      {{ block.settings.txt_activities }}
                      {{ block.settings.icona_activities | image_url: width: 50 | image_tag }}
                    </a>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="menu_basso">
        {% if section.settings.url_col01 == true %}
          <a href="{{ section.settings.url_col01 }}">{{ section.settings.txt_col01 }}</a>
        {% endif %}
        {% if section.settings.shop_by_need_url == true %}
          <a href="{{ section.settings.shop_by_need_url }}">{{ section.settings.txt_col02_001 }}</a>
        {% endif %}
        {% if section.settings.shop_by_layer_url == true %}
          <a href="{{ section.settings.shop_by_layer_url }}">{{ section.settings.txt_col02_002 }}</a>
        {% endif %}
        {% if section.settings.url_col03 == true %}
          <a href="{{ section.settings.url_col03 }}">{{ section.settings.txt_col03 }}</a>
        {% endif %}
        {% if section.settings.url_createyouroutfit == true %}
          <a class="special_cat" href="{{ section.settings.url_createyouroutfit }}">CREATE YOUR OUTFIT</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="mo" id="collections_menu">
    {% assign menu_secondario_mobile = menus['secondario-mobile-menu'] %}
    <div class="close shop_sez_bianca_mo">
      <div class="sub_menu_risultati">
        <div class="box_risultati active">
          <div class="box_risultati_interno">
            {% unless customer.b2b? %}
              {% comment %}
      {% if section.settings.attiva_sales == true and current_currency_code != 'GBP' %}
      {% endcomment %}
           {% if section.settings.attiva_sales == true %}
                <div class="collection_items">
                  <a href="{{ section.settings.url_sales }}" class="cat_main sales_mob">
                    {{- section.settings.testo_sales -}}
                  </a>
                </div>
              {% endif %}
            {% endunless %}
            {% if section.settings.attiva_outlet == true %}
              <div class="collection_items">
                <a href="{{ section.settings.url_outlet }}" class="cat_main outlet_mob">
                  {{- section.settings.testo_outlet -}}
                </a>
              </div>
            {% endif %}
            {% for menu_secondario_mobile_item in menu_secondario_mobile.links %}
              <div class="collection_items">
                <a
                  class="cat_main {% if menu_secondario_mobile_item.links.size > 0 %}has_childs{% endif %}"
                  href="{{ menu_secondario_mobile_item.url }}"
                >
                  {{ menu_secondario_mobile_item.title }}
                  {% if menu_secondario_mobile_item.links.size > 0 %}
                    {%- render 'icon_freccia-menu' -%}
                  {% endif %}
                </a>
                {% if menu_secondario_mobile_item.links.size > 0 %}
                  <div>
                    <div class="scroll_sub_menu inner_sub_menu">
                      <a class="btn_inner_sub_menu">
                        <span>{{ menu_secondario_mobile_item.title }}</span>
                        {%- render 'icon_freccia-menu' -%}
                      </a>
                    </div>
                    {% for menu_secondario_mobile_item_SUB in menu_secondario_mobile_item.links %}
                      <a class="cat_sub" href="{{ menu_secondario_mobile_item_SUB.url }}">
                        {{ menu_secondario_mobile_item_SUB.title }}
                        {% if menu_secondario_mobile_item_SUB.links.size > 0 %}
                          {%- render 'icon_freccia-menu' -%}
                        {% endif %}
                      </a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="menu_basso">
        <a class="lang_switch_btn">
          {%- render 'icon-mondo' %}
          {{ current_currency }} | {{ lang_text }}
        </a>
        <a href="{{switch}}/account">{% render 'icon-utente_custom' %} ACCOUNT</a>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header Next",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "img_col01",
      "label": "Immagine megamenu col1"
    },
    {
      "type": "text",
      "id": "txt_col01",
      "label": "Text megamenu col1"
    },
    {
      "type": "url",
      "id": "url_col01",
      "label": "Url megamenu col1"
    },
    {
      "type": "image_picker",
      "id": "img_col02_001",
      "label": "Immagine megamenu col2 Pt1"
    },
    {
      "type": "text",
      "id": "txt_col02_001",
      "label": "Text megamenu col2 Pt1"
    },
    {
      "type": "url",
      "id": "shop_by_need_url",
      "label": "URL Shop By Need col2 Pt1"
    },
    {
      "type": "text",
      "id": "shop_by_need_description",
      "label": "shop_by_need_description"
    },
    {
      "type": "image_picker",
      "id": "img_col02_002",
      "label": "Immagine megamenu col2 Pt2"
    },
    {
      "type": "text",
      "id": "txt_col02_002",
      "label": "Text megamenu col2 Pt2"
    },
    {
      "type": "url",
      "id": "shop_by_layer_url",
      "label": "URL Shop By Layer col2 Pt2"
    },
    {
      "type": "text",
      "id": "shop_by_layer_description",
      "label": "shop_by_layer_description"
    },
    {
      "type": "image_picker",
      "id": "img_col03",
      "label": "Immagine megamenu col3"
    },
    {
      "type": "text",
      "id": "txt_col03",
      "label": "Text megamenu col3"
    },
    {
      "type": "url",
      "id": "url_col03",
      "label": "Url megamenu col3"
    },
    {
      "type": "article",
      "id": "articolo_main_etnz",
      "label": "Articlo principale ETNZ"
    },
    {
      "type": "article",
      "id": "articolo_02_etnz",
      "label": "Articlo 02 ETNZ"
    },
    {
      "type": "image_picker",
      "id": "img_etnz",
      "label": "Immagine colonna ETNZ"
    },
    {
      "type": "text",
      "id": "txt_etnz",
      "label": "Text colonna ETNZ"
    },
    {
      "type": "url",
      "id": "url_link_etnz",
      "label": "Url link colonna ETNZ"
    },
    {
      "type": "url",
      "id": "url_video_etnz",
      "label": "Url video colonna ETNZ"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Testo bottone ETNZ"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "URL bottone ETNZ"
    },
    {
      "type": "checkbox",
      "id": "attiva_sales",
      "label": "Sales button attivo",
      "default": false
    },
    {
      "type": "text",
      "id": "testo_sales",
      "label": "Testo del bottone Sales"
    },
    {
      "type": "url",
      "id": "url_sales",
      "label": "URL del bottone Sales"
    },
    {
      "type": "checkbox",
      "id": "attiva_outlet",
      "label": "Outlet button attivo",
      "default": false
    },
    {
      "type": "text",
      "id": "testo_outlet",
      "label": "Testo del bottone Outlet"
    },
    {
      "type": "url",
      "id": "url_outlet",
      "label": "URL del bottone Outlet"
    },
    {
      "type": "url",
      "id": "url_createyouroutfit",
      "label": "URL per Create Your Outfit (mostrato se presente)"
    },
    {
      "type": "url",
      "id": "tutti_i_prodotti_url",
      "label": "URL per tutti i prodotti (mostrato se presente)"
    },
    {
      "type": "checkbox",
      "id": "banner_saldi",
      "label": "Banner saldi attivo",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "benefits",
      "name": "Blocco icona Benefits",
      "settings": [
        {
          "type": "image_picker",
          "id": "icona_benefits",
          "label": "Icona benefits"
        },
        {
          "type": "text",
          "id": "txt_benefits",
          "label": "Testo benefits"
        },
        {
          "type": "url",
          "id": "url_benefits",
          "label": "URL benefits"
        }
      ]
    },
    {
      "type": "activities",
      "name": "Blocco icona Activities",
      "settings": [
        {
          "type": "image_picker",
          "id": "icona_activities",
          "label": "Icona activities"
        },
        {
          "type": "text",
          "id": "txt_activities",
          "label": "Testo activities"
        },
        {
          "type": "url",
          "id": "url_activities",
          "label": "URL activities"
        }
      ]
    },
    {
      "type": "topbar_saldi",
      "name": "Segmento banner saldi",
      "settings": [
        {
          "type": "text",
          "id": "txt_banner_saldi",
          "label": "Testo segmento banner saldi"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header Next",
      "category": "Custom"
    }
  ]
}
{% endschema %}
