{%- style -%}
  #shopify-section-{{ section.id }} {
    height:100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: height 300ms ease-in-out;
    position:relative;
    z-index:3;
  }
  body.etnz #shopify-section-{{ section.id }} {
    z-index:3;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .hero_desk_overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next {
    position:absolute;
    bottom:12.5vh;
    left:0;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next p {
    margin-bottom:24px;
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_next h1 {
    margin-bottom:5vw;
  }
  #shopify-section-{{ section.id }} section#section_hero_home > video {
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }
  #shopify-section-{{ section.id }} .titolo_sub {
    width:400px;
  }
  @media(max-width:999px){
    #shopify-section-{{ section.id }} section#section_hero_home .container_next h1 {
      margin-bottom:70vw;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_next p,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next a {
      padding-left:15px!important;
      padding-right:15px!important;
    }
    #shopify-section-{{ section.id }} .titolo_sub {
      width:250px;
    }
  }
  #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera {
    display:none;
  }
  {% if section.settings.versione_nera %}
    #shopify-section-{{ section.id }} section#section_hero_home .hero_desk_overlay,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next .titolo_sub,
    #shopify-section-{{ section.id }} section#section_hero_home .container_next .btn_next {
      display:none;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_next {
      top: unset;
      top: 22.5vh;
    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera {
      display:block;
      color: var(--color-bianco);
      position:absolute;
      position: absolute;
      bottom: 12.5vh;
      right: 0;
      padding-left:10vw;
      padding-right:10vw;
      text-align:right;

    }
    #shopify-section-{{ section.id }} section#section_hero_home .container_versione_nera a.btn_next{
      margin: 0 0 0 auto;
    }

  {% endif %}

  /*Beyond Horizon*/
  #shopify-section-{{ section.id }} #section_hero_home::before {
    z-index: 0 !important;
  }
  #shopify-section-{{ section.id }} #section_hero_home h1 span.twcss-ml-24 {
    margin-left: 8.6rem !important;
  }
  #shopify-section-{{ section.id }} #section_hero_home h1 span.twcss-ml-20 {}
  #shopify-section-{{ section.id }} #section_hero_home h1 span.pt3 {}

  @media(max-width:999px){
    #shopify-section-{{ section.id }} .ultra {
      font-size: clamp(60px,7.5vw,113px);
    }
  }


{%- endstyle -%}

{% if section.settings.alt_version == true %}
  {% assign versione_alternativa = 'versione_alternativa' %}
{% else %}
  {% assign versione_alternativa = '' %}
{% endif %}

<section
  id="section_hero_home"
  class="twcss-relative after_overlay zindex-1 twcss-bg-center twcss-bg-cover twcss-h-full {{ versione_alternativa }}"
  style="background-image:url({{ section.settings.img_url }});"
>
  <!-- versione Normale -->
  <img
    class="hero_desk_overlay normal"
    src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/Slam_Beyond_the_Horizon_Web.png"
    width="100%"
    height="100%"
  >
  <!-- versione Normale - END -->

  <video
    class="object-cover object-center twcss-absolute twcss-top-0 twcss-left-0 twcss--z-1 twcss-w-full twcss-h-full"
    autoplay
    loop
    muted
    playsinline
    height="100%"
    width="100%"
  >
    <source src="{{ section.settings.video_url }}" type="video/mp4">
  </video>
  <div class="container_next">
    <h1 class="twcss-text-w italic {% if section.settings.versione_nera == false %}ultra{% endif %}">
      <span class="twcss-block twcss-ml-20">{{ section.settings.payoff_pt1 }}</span
      ><span class="twcss-ml-24 twcss-block">{{ section.settings.payoff_pt2 }}</span
      ><span class="twcss-block pt3">{{ section.settings.payoff_grunge_effect }}</span>
    </h1>
    <p class="twcss-text-w titolo_sub">{{ section.settings.payoff_sub }}</p>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="container_versione_nera">
    <h2 class="ultra text_grunge" style="padding:0;margin: 0 0 0 auto;">ETNZ</h2>
    <h2>OFFICIAL REPLICA</h2>
    {% for block in section.blocks %}
      {% if block.type == 'link_block' %}
        <a class="twcss-text-w twcss-flex twcss-gap-4 btn_next twcss-items-center" href="{{ block.settings.link_url }}">
          {{ block.settings.link_text }}
          {% render 'icon-arrow-link-custom' -%}
        </a>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Hero Beyond the Horizon",
  "settings": [
    {
      "type": "text",
      "id": "payoff_pt1",
      "label": "Payoff pt1"
    },
    {
      "type": "text",
      "id": "payoff_pt2",
      "label": "Payoff pt2"
    },
    {
      "type": "text",
      "id": "payoff_grunge_effect",
      "label": "Payoff Grunge Effect"
    },
    {
      "type": "text",
      "id": "payoff_sub",
      "label": "Sottotitolo payoff"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "URL del Video background"
    },
    {
      "type": "url",
      "id": "img_url",
      "label": "URL Immagine background"
    },
    {
      "type": "checkbox",
      "id": "versione_nera",
      "label": "Versione nera?",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "alt_version",
      "label": "Alternate version?",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "link_block",
      "name": "Bottone con freccia",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Testo del bottone"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "URL del bottone"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Beyond the Horizon",
      "category": "Custom"
    }
  ]
}
{% endschema %}
