{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
  }
{%- endstyle -%}

<section id="section_prodotti_cold_hot_shopby">
  <div class="page-width controlli">
    <div>
      <div data-tipo="base" class="cat_btn base layer active">BASE LAYER</div>
      <div data-tipo="mid" class="cat_btn mid layer">MID LAYER</div>
      <div data-tipo="prot" class="cat_btn prot layer">PROTECTIVE LAYER</div>
    </div>
  </div>
  <div class="page-width">
    <div class="frame_linea_visiva termometro">
      {% render 'stay_fresh' %}
      {% render 'stay_warm' %}
    </div>
    <!-- BASE -->
    <section class="prod_card_box base fresh active">
      {% if section.settings.prod_base_list_fresh %}
        {% for product_id in section.settings.prod_base_list_fresh %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_base_url_fresh }}"
          >SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}
        </a>
      </div>
    </section>
    <section class="prod_card_box base warm active">
      {% if section.settings.prod_base_list_warm %}
        {% for product_id in section.settings.prod_base_list_warm %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_base_url_warm }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}</a>
      </div>
    </section>
    <!-- MID -->
    <section class="prod_card_box mid fresh">
      {% if section.settings.prod_mid_list_fresh %}
        {% for product_id in section.settings.prod_mid_list_fresh %}
          {% assign product = all_products[product_id] %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_mid_url_fresh }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}</a>
      </div>
    </section>
    <section class="prod_card_box mid warm">
      {% if section.settings.prod_mid_list_warm %}
        {% for product_id in section.settings.prod_mid_list_warm %}
          {% assign product = all_products[product_id] %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_mid_url_warm }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}</a>
      </div>
    </section>
    <!-- PROT -->
    <section class="prod_card_box prot fresh">
      {% if section.settings.prod_prot_list_fresh %}
        {% for product_id in section.settings.prod_prot_list_fresh %}
          {% assign product = all_products[product_id] %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_prot_url_fresh }}"
          >SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}
        </a>
      </div>
    </section>
    <section class="prod_card_box prot warm">
      {% if section.settings.prod_prot_list_warm %}
        {% for product_id in section.settings.prod_prot_list_warm %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_prot_url_warm }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}</a>
      </div>
    </section>
  </div>
</section>

{% schema %}
{
  "name": "Prod. HotCold - shopby",
  "settings": [
    {
      "type": "product_list",
      "id": "prod_base_list_fresh",
      "label": "BaseLayer lista prodotti (fresh)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_base_url_fresh",
      "label": "BaseLayer URL (fresh)"
    },

    {
      "type": "product_list",
      "id": "prod_base_list_warm",
      "label": "BaseLayer lista prodotti (warm)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_base_url_warm",
      "label": "BaseLayerURL (warm)"
    },

    {
      "type": "product_list",
      "id": "prod_mid_list_fresh",
      "label": "MidLayer lista prodotti (fresh)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_mid_url_fresh",
      "label": "MidLayer URL (fresh)"
    },

    {
      "type": "product_list",
      "id": "prod_mid_list_warm",
      "label": "MidLayer lista prodotti (warm)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_mid_url_warm",
      "label": "MidLayer URL (warm)"
    },

    {
      "type": "product_list",
      "id": "prod_prot_list_fresh",
      "label": "MidLayer lista prodotti (fresh)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_prot_url_fresh",
      "label": "ProtectiveLayer URL (fresh)"
    },

    {
      "type": "product_list",
      "id": "prod_prot_list_warm",
      "label": "MidLayer lista prodotti (warm)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_prot_url_warm",
      "label": "ProtectiveLayer URL (warm)"
    }
  ],

  "presets": [
    {
      "name": "Prod. HotCold - shopby",
      "category": "Custom"
    }
  ]
}
{% endschema %}
