{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #shopify-section-{{ section.id }} {
  }
{%- endstyle -%}

<section id="section_prodotti_waterproof">
  <div class="page-width controlli">
    <div style="display: flex;gap: 10px;align-items: center;">
      {% render 'icon_waterproof' %}
      <h4 style="color:var(--color-blu);">WATERPROOF</h4>
    </div>
    <!--
      <div>
        <div data-tipo="top" class="cat_btn top posiz active">TOP</div>
        <div data-tipo="bottom" class="cat_btn bottom posiz">BOTTOM</div>
      </div>
    -->
  </div>
  <div class="page-width">
    <div class="frame_linea_visiva waterproof">
      <h4 class="water_value">6</h4>
      <h4 class="water_value">5</h4>
      <h4 class="water_value">4 - 3</h4>
      <h4 class="water_value">2 - 1</h4>
    </div>
    <!-- WP6 + TOP -->
    <section class="prod_card_box wp6 top active">
      {% if section.settings.prod_w6_top %}
        {% for product_id in section.settings.prod_w6_top %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_w6_top_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
      </div>
    </section>
    <!-- WP5 + TOP -->
    <section class="prod_card_box wp5 top active">
      {% if section.settings.prod_w5_top %}
        {% for product_id in section.settings.prod_w5_top %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_w5_top_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
      </div>
    </section>
    <!-- WP4_3 + TOP -->
    <section class="prod_card_box wp4_3 top active">
      {% if section.settings.prod_w4_3_top %}
        {% for product_id in section.settings.prod_w4_3_top %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_wp4_3_top_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
      </div>
    </section>
    <!-- WP2_1 + TOP -->
    <section class="prod_card_box wp2_1 top active">
      {% if section.settings.prod_w2_1_top %}
        {% for product_id in section.settings.prod_w2_1_top %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_wp2_1_top_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
      </div>
    </section>
  </div>
</section>

{% schema %}
{
  "name": "Prod. Waterproof - shopby",
  "settings": [
    {
      "type": "product_list",
      "id": "prod_w6_top",
      "label": "Waterproof 6 (Top)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_w6_top_url",
      "label": "Waterproof 6 URL (Top)"
    },

    {
      "type": "product_list",
      "id": "prod_w5_top",
      "label": "Waterproof 5 (Top)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_w5_top_url",
      "label": "Waterproof 5 URL (Top)"
    },

    {
      "type": "product_list",
      "id": "prod_w4_3_top",
      "label": "Waterproof 4_3 (Top)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_w4_3_top_url",
      "label": "Waterproof 4_3 URL (Top)"
    },

    {
      "type": "product_list",
      "id": "prod_w2_1_top",
      "label": "Waterproof 2_1 (Top)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_w2_1_top_url",
      "label": "Waterproof 2_1 URL (Top)"
    }
  ],

  "presets": [
    {
      "name": "Prod. Waterproof - shopby",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<!--
  BOTTOM LAYER
  {
    "type": "product_list",
    "id": "prod_w6_bottom",
    "label": "Waterproof 6 (Bottom)",
    "limit": 4
  },
  {
    "type": "url",
    "id": "prod_w6_bottom_url",
    "label": "Waterproof 6 URL (Bottom)"
  },

  {
    "type": "product_list",
    "id": "prod_w5_bottom",
    "label": "Waterproof 5 (Bottom)",
    "limit": 4
  },
  {
    "type": "url",
    "id": "prod_w5_bottom_url",
    "label": "Waterproof 5 URL (Bottom)"
  },

  {
    "type": "product_list",
    "id": "prod_w4_3_bottom",
    "label": "Waterproof 4_3 (Bottom)",
    "limit": 4
  },
  {
    "type": "url",
    "id": "prod_w4_3_bottom_url",
    "label": "Waterproof 4_3 URL (Bottom)"
  },

  {
    "type": "product_list",
    "id": "prod_w2_1_bottom",
    "label": "Waterproof 2_1 (Bottom)",
    "limit": 4
  },
  {
    "type": "url",
    "id": "prod_w2_1_bottom_url",
    "label": "Waterproof 2_1 URL (Bottom)"
  }
-->

<!-- WP6 + BOTTOM -->
{% comment %}
  <section class="prod_card_box wp6 bottom">
    {% if section.settings.prod_w6_bottom %}
      {% for product_id in section.settings.prod_w6_bottom %}
        {% if product_id %}
          <div class="prod_card_item">
            {% render 'card-product', card_product: product_id %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="card_box_bedge">
      <a href="{{ section.settings.prod_w6_bottom_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
    </div>
  </section>
{% endcomment %}
<!-- WP5 + BOTTOM -->
{% comment %}
  <section class="prod_card_box wp5 bottom">
    {% if section.settings.prod_w5_bottom %}
      {% for product_id in section.settings.prod_w5_bottom %}
        {% if product_id %}
          <div class="prod_card_item">
            {% render 'card-product', card_product: product_id %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="card_box_bedge">
      <a href="{{ section.settings.prod_w5_bottom_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
    </div>
  </section>
{% endcomment %}
<!-- WP4_3 + BOTTOM -->
{% comment %}
  <section class="prod_card_box wp4_3 bottom">
    {% if section.settings.prod_w4_3_bottom %}
      {% for product_id in section.settings.prod_w4_3_bottom %}
        {% if product_id %}
          <div class="prod_card_item">
            {% render 'card-product', card_product: product_id %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="card_box_bedge">
      <a href="{{ section.settings.prod_wp4_3_bottom_url }}"
        >SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}
      </a>
    </div>
  </section>
{% endcomment %}
<!-- WP2_1 + BOTTOM -->
{% comment %}
  <section class="prod_card_box wp2_1 bottom">
    {% if section.settings.prod_w2_1_bottom %}
      {% for product_id in section.settings.prod_w2_1_bottom %}
        {% if product_id %}
          <div class="prod_card_item">
            {% render 'card-product', card_product: product_id %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <div class="card_box_bedge">
      <a href="{{ section.settings.prod_wp2_1_bottom_url }}"
        >SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}
      </a>
    </div>
  </section>
{% endcomment %}
