{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'next_card_product.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media(max-width:999px) {
    #shopify-section-{{ section.id }} {
      max-width:100%;
      overflow:hidden;
    }
  }
{%- endstyle -%}

<section id="section_prodotti_waterproof" class="sb_layers">
  <div class="grid_box versione_{{ section.settings.versione }}">
    <div class="col_immagine">
      {% if section.settings.col_immagine != blank %}
        <img
          src="{{ section.settings.col_immagine | image_url }}"
          height="auto"
          width="auto"
          loading="lazy"
          alt="SLAM | Shop by Layer"
        >
      {% else %}
        <img
          src="https://cdn.shopify.com/s/files/1/0608/3913/3321/files/nacra-portrait.jpg?v=1710327448"
          height="auto"
          width="auto"
          loading="lazy"
          alt="SLAM | Shop by Layer"
        >
      {% endif %}
    </div>
    <div class="controlli sbl">
      <div class="descrizione_layer">
        <h3>{{ section.settings.titolo_layer }}</h3>
        <div>{{ section.settings.desc_layer }}</div>
      </div>
      {% if section.settings.prod_layer_bottom != blank %}
        <div>
          <div data-tipo="top" class="cat_btn top posiz active">TOP</div>
          <div data-tipo="bottom" class="cat_btn bottom posiz">BOTTOM</div>
        </div>
      {% endif %}
    </div>
    <!-- TOP -->
    <section class="prod_card_box prod_layer top active drag-scroll">
      {% if section.settings.prod_layer_top %}
        {% for product_id in section.settings.prod_layer_top %}
          {% if product_id %}
            <div class="prod_card_item">
              {% render 'card-product', card_product: product_id %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card_box_bedge">
        <a href="{{ section.settings.prod_layer_top_url }}">SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' %}</a>
      </div>
    </section>
    <!-- BOTTOM -->
    {% if section.settings.prod_layer_bottom != blank %}
      <section class="prod_card_box prod_layer bottom drag-scroll">
        {% if section.settings.prod_layer_bottom %}
          {% for product_id in section.settings.prod_layer_bottom %}
            {% if product_id %}
              <div class="prod_card_item">
                {% render 'card-product', card_product: product_id %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
        <div class="card_box_bedge">
          <a href="{{ section.settings.prod_layer_bottom_url }}"
            >SHOW ALL PRODUCTS {% render 'icon-arrow-link-custom' -%}
          </a>
        </div>
      </section>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Prod. Layers - shopby",
  "settings": [
    {
      "type": "text",
      "id": "titolo_layer",
      "label": "Titolo sezione"
    },
    {
      "type": "richtext",
      "id": "desc_layer",
      "label": "Descrizione sezione"
    },
    {
      "type": "image_picker",
      "id": "col_immagine",
      "label": "Seleziona immagine colonna"
    },

    {
      "type": "product_list",
      "id": "prod_layer_top",
      "label": "Layer (Top)",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_layer_top_url",
      "label": "layer URL (Top)"
    },

    {
      "type": "product_list",
      "id": "prod_layer_bottom",
      "label": "Layer (Bottom) - [No prodotti = No bottoni]",
      "limit": 4
    },
    {
      "type": "url",
      "id": "prod_layer_bottom_url",
      "label": "Layer URL (Bottom)"
    },

    {
      "type": "select",
      "id": "versione",
      "label": "Versione dx / sx",
      "options": [
        {
          "value": "dx",
          "label": "Immagine a Destra"
        },
        {
          "value": "sx",
          "label": "Immagine a Sinistra"
        }
      ],
      "default": "sx"
    }
  ],

  "presets": [
    {
      "name": "Prod. Layers - shopby",
      "category": "Custom"
    }
  ]
}
{% endschema %}
